/* Designed by François PLANQUE - http://fplanque.net/ */

body {
	padding: 0px;
	margin: 0px;
	color: #aaa;
	font: 84% Arial, Helvetica, sans-serif;
	background-color: #666;
}

div#skin_wrapper div.sitewide_header {
	margin-bottom: 0;
}

textarea, input, select, option, optgroup, ul.ui-autocomplete, li.token-input-token-facebook, div.token-input-dropdown-facebook {
	font: 13.43px Arial,Helvetica,sans-serif;
}

a {
	color: #eee;
	text-decoration: none;
}
a:visited {
	color: #eee;
}
a:hover {
	color: #fff;
	text-decoration: underline;
}

.action_messages a {
	color: #00F;
}


div#pageFooter {
	padding: 0 0 1ex 0;
}
#pageFooter a, .nav_pages a {
	color: #aaa;
}
p.baseline, .nav_pages {
	text-align: center;
	font-size: 84%;
	padding: 6ex 0 4ex 0;
	margin: 0;
}


div.pageHeader {
	padding: 5px;
	border-bottom: 1px solid #666;
	background: #333;
	color: #aaa;
}

h1#pageTitle {
	font-size: 100%;
	font-weight: bold;
	letter-spacing: 2px;
	margin: 0;
	padding: 0;
}

div.PageTop ul {
	background: #333;
	border-bottom: 1px solid #aaa;
	margin: 0 1px;
	padding: 0;
	list-style-type:none;
	padding: 5px 0;
}
div.PageTop li {
	border-right: 1px solid #aaa;
	display: inline;
	padding: 5px 1em;
}

div.PageTop a {
	font-weight: bold;
	text-decoration: none;
}
div.PageTop a.default {
	color: #aaa;
}
div.PageTop a.selected,
div.PageTop a.selected:visited {
	color: #eee;
}
div.PageTop a:hover {
	text-decoration: underline;
	color: #fff;
}

div.top_menu > span.menu_link:not(:first-child):before {
	content: " | ";
}

/* Styles for main area (left) */
h2 {
	margin: 0;
	padding: 1ex 0 0 0;
}

.msg_nothing {
	text-align: center;
	margin: 15ex 0 10ex;
}

/* Styles for posts */
.bPosts {
	padding: 0 10px 10px;
	margin: 0 auto;
}
.posts_list {
	text-align: center;
	clear: both;
}
.posts_list .bPost {
	display: inline-block;
	margin: 25px 45px;
	vertical-align: top;
}
.posts_list .bPost img, .posts_list .bPost b {
	transition: all 0.15s ease-in-out;
	-webkit-transition: all 0.15s ease-in-out;
	-moz-transition: all 0.15s ease-in-out;
	-o-transition: all 0.15s ease-in-out;
	-ms-transition: all 0.15s ease-in-out;
}
.posts_list .bPost:hover img, .posts_list .bPost:hover b {
	transform:rotate(-3deg);
	-ms-transform:rotate(-3deg); /* IE 9 */
	-webkit-transform:rotate(-3deg); /* Safari and Chrome */
}
.posts_list .bPost a {
	font-weight: bold;
}
.posts_list .bPost img, .posts_list .bPost b {
	border-radius: 20px;
	-moz-border-radius: 20px;
	-webkit-border-radius: 20px;
	-khtml-border-radius: 20px;
	box-shadow: 0 0 10px -3px #000000;
	margin-bottom: 5px;
}
.posts_list .bPost a.album_nopic {
	display: block;
	margin-bottom: -11px;
	text-decoration: none;
}
.posts_list .bPost b {
	background: #555;
	padding: 10px;
	display: table-cell;
	vertical-align: middle;
}
div.action_messages {
	margin: 0 2ex;
}

.bPost {
	clear: both;
}
.bPostContent {
	width: 820px;
	margin: 0 auto;
}
.post_images {
	text-align: center;
}
.post_images .image_block {
	display: inline-block;
	margin: 0 45px 50px;
}
.post_images .image_block a {
	display: block;
}
.post_images .image_block div {
	width: 100%;
	padding: 3%;
}
.post_images .image_block img {
	box-shadow: 0 0 10px -3px #000000;
	margin: 0;
	transition: all 0.15s ease-in-out;
	-webkit-transition: all 0.15s ease-in-out;
	-moz-transition: all 0.15s ease-in-out;
	-o-transition: all 0.15s ease-in-out;
	-ms-transition: all 0.15s ease-in-out;
}
.post_images .image_block div:hover img {
	transform:scale(1.06);
	-ms-transform:scale(1.06); /* IE 9 */
	-webkit-transform:scale(1.06); /* Safari and Chrome */
}
div.mediajs_block, div.videojs_block, div.flowplayer_block {
	margin-top: 0;
	margin-bottom: 50px;
}
.post_images .image_legend, .mediajs_block .mediajs_text {
	margin: 0;
	font-weight: bold;
	color: #f8f8f8;
	float: left;
}
div.mediajs_block .mediajs_text, div.videojs_block .videojs_text {
	float: none;
	margin-bottom: 0;
}
.bDetails {
	width: 80%;
	margin: 0 auto 2em;
	background: #555;
	border: 1px solid #aaa;
}
h3.bTitle, h3.bTitle.linked a {
	color: #AAAAAA;
	font-size: 100%;
	display:inline;
	letter-spacing: 2px;
}
.bText {
	margin: 0;
	padding: 0 12px;
}
.bSmallHead
{
	margin: 0;
	padding: 12px 12px 6px 12px;
}
.bSmallPrint
{
	margin: 0;
	font-size: 84%;
	padding: 6px 12px 12px 12px;
}
.action_right
{
	font-size: 84%;
	float: right;
	margin: 0 0 0 1em;
}
.timestamp {
	margin: 0 0 0 1em;
	font-size: 84%;
}

input.bComment,
textarea.bComment
{
	background-color: #eee;
	border: 1px solid #ccc;
	width: 97%;
	padding: 2px;
	margin: 0ex;
}
select.bComment  /* Used by the profile form */
{
	background-color: #eee;
	border: 1px solid #ccc;
	padding: 1px;
	margin: 0ex;
}

.comments_popup {
	margin: 1em;
}

.image_index div {
	background: #555;
	border: 1px solid #333;
}
.image_index div:hover {
	background: #777;
}

table.grouped, #edit_group_contacts {
	color: #000;
}
table.grouped th a, table.grouped a {
	color: #666;
}

.user.nogender, user.anonymous.nogender {
	color: #000;
}

.user_contacts_groups .col1 {
	border-color: #999;
}

.avatar_rounded a {
	color: #666;
}
.avatar_main_frame a {
	color: #666;
}

div.item_location {
	padding: 0 12px;
}
.item_custom_fields {
	margin-left: 12px;
}
.item_comments {
	padding: 0 10px;
}

/* jQuery Tokeninput plugin */
div.input ul.token-input-list-facebook {
	width: 655px;
	background: #FFF;
}

/* Not published comments display */
#styled_content_block .bComment .status_draft,
#styled_content_block .bComment .status_review,
#styled_content_block .bComment .status_community,
#styled_content_block .bComment .status_protected,
#styled_content_block .bComment .status_private {
	top: 0px;
	left: 13px;
}
/* Not published posts display */
#styled_content_block .bSmallHead .status_draft,
#styled_content_block .bSmallHead .status_review,
#styled_content_block .bSmallHead .status_community,
#styled_content_block .bSmallHead .status_protected,
#styled_content_block .bSmallHead .status_private {
	top: -12px;
	left: 12px;
}

div.tabs div a {
	background-color: #333;
	border-color: #999;
	color: #AAA;
}
div.tabs div.selected a, div.tabs div a:hover {
	background-color: #666;
}
div.tabs div.selected a {
	border-bottom-color: #666;
}

.search_title {
	color: #EEE;
}

.nav_album {
	background: #373737;
	border-bottom: 1px solid #252525;
	padding: 5px 0;
	position: relative;
	text-align: center;
	margin-bottom: 35px;
}
.nav_album.fixed {
	position: fixed;
	z-index: 9800;
	width: 100%;
}
.nav_album .nav_album_arrows {
	float: right;
	margin-right: 10px;
	position: relative;
	top: 2px;
}

.nav_album .roundbutton {
	color: #333;
}
.nav_album .nav_album_title {
	font: 16px/25px "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial;
	margin-left: 120px;
}
.nav_album .nav_album_number {
	float: right;
	line-height: 25px;
	padding-right: 10px;
}

/* IOS Arrow button */
#ios-arrow-left {
	display : block;
	position:absolute;
	z-index : 0;
	left:20px;
	top:4px;
	height:25px;
	width:auto;
	padding: 0 10px 0 6px;
	background-size : 30px 30px;
	text-decoration: none;

	background-repeat:repeat-x;
	background-position :0;
	background-image : -moz-linear-gradient(
		90deg,
		rgba(0,0,0,0) 0%,
		rgba(0,0,0,0) 50%,
		rgba(255,255,255,0.1) 50%,
		rgba(255,255,255,0.3) 100%
		);
	background-image : -o-linear-gradient(
		90deg,
		rgba(0,0,0,0) 0%,
		rgba(0,0,0,0) 50%,
		rgba(255,255,255,0.1) 50%,
		rgba(255,255,255,0.3) 100%
		);
	background-image : -webkit-linear-gradient(
		90deg,
		rgba(0,0,0,0) 0%,
		rgba(0,0,0,0) 50%,
		rgba(255,255,255,0.1) 50%,
		rgba(255,255,255,0.3) 100%
		);

	border-radius: 5px;

	border-bottom: 1px solid rgba(255,255,255,0.4);

	box-shadow :0 -1px 1px rgba(0,0,0,0.2)inset,
		0 1px 2px rgba(0,0,0,0.8)inset;

	color:#fff;
	text-shadow : 0px -1px 0px rgba(0,0,0,0.8);
	cursor: pointer;
	-webkit-user-select: none;
	-moz-user-select: none;
	-o-user-select: none;
	user-select: none;
}

#ios-arrow-left:before{
	position:absolute;
	content : ' ';
	left:-8px;
	top:2px;
	height : 21px;
	width: 20px;
	z-index : 1;

	background-repeat:repeat-x;
	background-size : 30px 30px;
	background-position :-1px 2px;
	background-image : -moz-linear-gradient(
		45deg,
		rgba(0,0,0,0) 0%,
		rgba(0,0,0,0) 52%,
		rgba(255,255,255,0.1) 52%,
		rgba(255,255,255,0.4) 100%
		);
	background-image : -o-linear-gradient(
		45deg,
		rgba(0,0,0,0) 0%,
		rgba(0,0,0,0) 52%,
		rgba(255,255,255,0.1) 52%,
		rgba(255,255,255,0.4) 100%
		);
	background-image : -webkit-linear-gradient(
		45deg,
		rgba(0,0,0,0) 0%,
		rgba(0,0,0,0) 52%,
		rgba(255,255,255,0.1) 52%,
		rgba(255,255,255,0.4) 100%
		);
	background-image : linear-gradient(
		45deg,
		rgba(0,0,0,0) 0%,
		rgba(0,0,0,0) 52%,
		rgba(255,255,255,0.1) 52%,
		rgba(255,255,255,0.4) 100%
		);


	-moz-transform : rotateZ(-45deg) skewY(-10deg) skewX(-10deg);
	-o-transform : rotateZ(-45deg) skewY(-10deg) skewX(-10deg);
	-webkit-transform : rotateZ(-45deg) skewY(-10deg) skewX(-10deg);
	-ms-transform : rotate(-45deg) skewY(-10deg) skewX(-11deg);
	transform : rotateZ(-45deg) skewY(-10deg) skewX(-10deg);
	border-top-right-radius : 11px;
	border-top-left-radius :0px;
	border-bottom-right-radius : 0;
	border-bottom-left-radius : 10px;

	border-left : 1px solid rgba(255,255,255,0.4);

	box-shadow :  0px 1px 1px rgba(0,0,0,0.7) inset,
		2px -2px 2px -3px rgba(0,0,0,0.5) inset;
}
#ios-arrow-left:after {

	font-family : HelveticaNeue,Helvetica, Arial;
	font-weight: 400;
	font-size : 12px;
	line-height : 25px;
	text-align:center;
	content: attr(title)"";
	z-index: 999;
	left:-2px;
	padding-left:3px;
	position:relative;
	height: 25px;
	line-height:25px;
	display:block;
	background-repeat:repeat-x;
	background-size : 30px 30px;
	background-position :-1px -2.5px;
	box-shadow :0 -3px 1px -2px rgba(0,0,0,0.3)inset,
				0 4px 2px -3px rgba(0,0,0,0.8)inset;
	background-image : -webkit-linear-gradient(
		90deg,
		rgba(0,0,0,0) 0%,
		rgba(0,0,0,0) 50%,
		rgba(255,255,255,0.1) 50%,
		rgba(255,255,255,0.3) 100%
		);
	background-image : -moz-linear-gradient(
		90deg,
		rgba(0,0,0,0) 0%,
		rgba(0,0,0,0) 50%,
		rgba(255,255,255,0.1) 50%,
		rgba(255,255,255,0.3) 100%
		);
	background-image : -o-linear-gradient(
		90deg,
		rgba(0,0,0,0) 0%,
		rgba(0,0,0,0) 50%,
		rgba(255,255,255,0.1) 50%,
		rgba(255,255,255,0.3) 100%
		);
}
#ios-arrow-left,
#ios-arrow-left:after,
#ios-arrow-left:before {
	background-color: #3a3a3a;/*originalcolor*/

}

#ios-arrow-left:hover,
#ios-arrow-left:hover:after,
#ios-arrow-left:hover:before {
	background-color: #252525;/*hovercolor*/
}

.flowplayer_block, .videojs_block, .mediajs_block {
	width: 658px;
}
.flowplayer_block > div, .videojs_block > div, .mediajs_block > div {
	margin: 0 auto;
}
.bCommentText .flowplayer_block, .bCommentText .videojs_block, .bCommentText .mediajs_block {
	width: 100%;
}