/* Global page layout */
body {
	background-color: #bababa;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 84%;
}

.wrapper1 {
	background-color: #e5e5e5;
	background-image: url(../img/distrib/top_shade.jpg);
	background-repeat: repeat-x;
}
.wrapper2 {
	width: 730px;
	margin: auto;
}

.body_fade_out {
	background-image: url(../img/distrib/bottom_shade.jpg);
	background-repeat: repeat-x;
	background-position: bottom;
	height: 92px;
}

.version_top {
	margin: 30px 10px 0 0;
	font-size: 170%;
	font-weight: bold;
	float: right;
}

a {
	color: #69c;
}
a:hover {
	color: #f38f1b;
}

.menu_top {
	width: 675px;
	padding-right: 5px;
	margin: 20px auto 12px;
}
.menu_bottom {
	width: 680px;
	text-align:center;
	margin: 12px auto 40px;
}
.menu_top a,
.menu_bottom a {
	text-decoration: none;
	font-weight:bold;
	color: #f38f1b;
}
.menu_top a:hover,
.menu_bottom a:hover {
	text-decoration: underline;
}

.block1 {
	width: 680px;
	margin: 8px auto;
	background: #fff url(../img/distrib/block_middle.gif) repeat-y;
}
.block2 {
	background: url(../img/distrib/block_top.gif) no-repeat;
}
.block3 {
	background: url(../img/distrib/block_bottom.gif) no-repeat bottom;
	padding: 2px 32px 20px 25px;
}

h1, h2 {
	color: #ff9000;
}
h1 {
	font-size: 1.9em;
}
form {
	margin-bottom: 12px;;
}

.copyright {
	font-size:84%;
	text-align:center;
	padding: 0 0 14px 0;
}
.copyright a {
	color: #000;
	text-decoration: none;
}
.copyright a:hover {
	text-decoration: underline;
}

div.error {
	margin: 2ex 0 1ex 0;
}