/*
 * Site wide styles used when site wide body & footer are enabled
 */
/* Override BODY from skin to make sure we touch the edges of the page: */
body {
	margin: 0;
	padding: 0;
}

/* Hamburger Menu */
.sitewide_header label[for="nav-trigger"] {
	position: relative;
	top: 10px;
	left: 0;
	width: 24px;
	height: 24px;
	cursor: pointer;
	background-color: rgb(204, 204, 204);
	-webkit-mask: url("data:image/svg+xml;utf8,	<svg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' version='1.1' x='0px' y='0px' width='24px' height='24px' viewBox='0 0 24 24' enable-background='new 0 0 24 24' xml:space='preserve'><rect y='1' width='24' height='4'/><rect y='9' width='24' height='4'/><rect y='17' width='24' height='4'/></svg>");
	mask: url("data:image/svg+xml;utf8,	<svg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' version='1.1' x='0px' y='0px' width='24px' height='24px' viewBox='0 0 24 24' enable-background='new 0 0 24 24' xml:space='preserve'><rect y='1' width='24' height='4'/><rect y='9' width='24' height='4'/><rect y='17' width='24' height='4'/></svg>");
	background-size: contain;
	margin: 1px 10px 1px 5px;
	display: none;
}

input#nav-trigger {
	position: absolute;
	clip: rect(0, 0, 0, 0);
}

.sitewide_header_menu_wrapper {
	display: none;
	background-color: #1b1b1c;
	height: auto;
	max-height: 0;
	overflow-y: auto;
}

.sitewide_header_menu {
	margin: 0;
	list-style: none;
	text-align: right;
	z-index: 1;
}

.sitewide_header_menu > li {
	padding: 0;
}

.sitewide_header_menu > li:hover {
	text-decoration: none;
	text-shadow: 0px 0 3px #FFF;
	color: #FFF;
	background: -ms-linear-gradient(top, #696c72, #333334);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#696c72', endColorstr='#333334');
}

.sitewide_header_menu > li > a {
	color: #cccccc;
	font-size: 16px;
	font-weight: 300;
	display: block;
	padding: 5px 12px;
}

.sitewide_header_menu > li > a.swhead_item_white {
	display: inline-block;
}

.nav-trigger:checked ~ .sitewide_header_menu_wrapper {
	max-height: 1000px;
}

.sitewide_header_menu_wrapper li {
	display: none;
}

.nav-trigger + .sitewide_header_menu_wrapper {
	transition: max-height 0.5s ease-in-out;
}

.sitewide_header,
.sitewide_footer {
	font-family:"HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial;
	line-height: normal;
	color: #ccc;
	margin: 0;
	clear: both;
	/* border: 1px solid red; */
}
/* Devices with max width <= 1024px (iPhone,iPad):
   Don't fix a position of the sitewide header */
@media only screen and (max-device-width: 1024px) {
	div#skin_wrapper .sitewide_header {
		position: inherit;
		width: 100%;
	}
}

@media only screen and (max-width: 991px) {
	.sitewide_header label[for="nav-trigger"] {
		display: inline-block;
	}

	.sitewide_header a.swhead_item.swhead_item_nav_md {
		display: none;
	}

	.sitewide_header_menu_wrapper {
		display: block;
	}

	.sitewide_header_menu_wrapper li.swhead_item_menu_md {
		display: block;
	}
}

@media only screen and (max-width: 767px) {
	.sitewide_header a.swhead_item:not(.swhead_item_selected):not(.login):not(.swhead_item_login),
	.sitewide_header a.swhead_item_white, .sitewide_header a.swhead_item_white {
			display: none;
	}

	.sitewide_header a.swhead_item.swhead_item_selected {
		display: inline-block;
	}

	.sitewide_header a.swhead_item_nav_sm {
		display: none;
	}

	.sitewide_header_menu_wrapper li.swhead_item_menu_sm {
		display: block;
	}
}

.sitewide_header p,
.sitewide_footer p {
	margin: 0;
	padding: 0;
}
.sitewide_header a,
.sitewide_footer a,
/* Don't use a color for user names in the header site menu: */
.sitewide_header .swhead_item.user {
	color: #ccc;
	border: none;
}

.sitewide_header{
	/* autoprefixer: off */
	font-size: 16px;
	font-weight: 300;
	text-align: left;
	box-shadow: 0px -1px 8px 4px rgba(0,0,0,0.5);
	/* position: fixed;
	width: 100%; */
	padding: 0;
	/*margin-bottom: 15px;*/
	background:-webkit-linear-gradient(top, #595C64, #1B1B1C);
	background:-moz-linear-gradient(top, #595C64, #1B1B1C);
	background: -ms-linear-gradient(top, #595C64, #1B1B1C);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#595C64', endColorstr='#1B1B1C');
	border-bottom:1px solid #666;
}

a.swhead_item,
a.swhead_sitename {
	display: inline-block;
	padding: 12px;
	text-decoration: none;
}
a.swhead_sitename.swhead_logo {
	padding: 0;
	float: left;
}
a.swhead_sitename.swhead_logo img {
	max-height: 43px;
}
.sitewide_header a.swhead_sitename {
	color: #FFF;
	font-weight: 400;
}
.sitewide_header a.swhead_item_selected,
.sitewide_header a.swhead_item:hover
{
	/* autoprefixer: off */
	text-decoration: none;
	text-shadow: 0px 0 3px #FFF;
	color: #FFF;
	background:-webkit-linear-gradient(top, #696c72, #333334);
	background:-moz-linear-gradient(top, #696c72, #333334);
	background: -ms-linear-gradient(top, #696c72, #333334);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#696c72', endColorstr='#333334');
}

.sitewide_header_menu a.swhead_item_selected {
	/* autoprefixer: off */
	text-decoration: none;
	text-shadow: 0px 0 3px #FFF;
	color: #FFF;
	background:-webkit-linear-gradient(top, #696c72, #333334);
	background:-moz-linear-gradient(top, #696c72, #333334);
	background: -ms-linear-gradient(top, #696c72, #333334);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#696c72', endColorstr='#333334');
	width: 100%;
}

.sitewide_header_menu a:hover {
	text-decoration: none;
}

.sitewide_header .floatright a.swhead_item_selected,
.sitewide_header .floatright a.swhead_item:hover {
	text-decoration: underline;
	background: none;
	text-shadow: none;
	-webkit-filter: none;
	        filter: none;
}
.sitewide_header a.swhead_item.swhead_item_white, .sitewide_header_menu a.swhead_item_white {
	background: #FFF;
	border-radius: 3px;
	margin: 4px 15px 4px 0;
	padding: 8px 9px;
	color: #000;
}
.sitewide_header a.swhead_item.swhead_item_white.swhead_item_selected,
.sitewide_header a.swhead_item.swhead_item_white:hover {
	background: #FFF;
}
.sitewide_header a.swhead_item.user {
	position: relative;
	padding-left: 49px;
	font-weight: normal;
}
.sitewide_header a.swhead_item.user img {
	position: absolute;
	top: 0;
	left: 12px;
	bottom: 0;
	margin: auto;
}

.sitewide_header a.swhead_sitename:hover {
	text-decoration: none;
	text-shadow: 0px 0 3px #FFF;
	color: #FFF;
}


.sitewide_footer{
	font-size: 11px;
	text-align: center;
	border-top: 1px solid #444;
	box-shadow: inset 0px 1px 2px rgba(0,0,0,0.3);
	padding: 4px;
	background-color: #888;
}
.sitewide_footer p{
	text-align: center;
}
.sitewide_footer a {
	text-decoration: underline;
}