body{background:#ffffff;
     font:12px trebuchet ms;
     color:#000000;
  scrollbar-face-color:#ffffff;
scrollbar-highlight-color:#000000;
scrollbar-base-color:#40B4C3;
scrollbar-shadow-color:#000000;
scrollbar-3dlight-color:#40B4C3;
scrollbar-arrow-color:#000000;
scrollbar-track-color:#40B4C3;
scrollbar-darkshadow-color:#40B4C3;}
a{color:#40B4C3;
  text-decoration:none;
  font-weight:bold;}
a:hover{background:#40B4C3;
        color:#ffffff;}
#pic{position:absolute;
     top:0px;
     left:0px;}
#content{position:absolute;
         top:300px;
         left:10px;
         width:495px;
         padding:5px;}
.posted{font:10px;
        padding-left:10px;}
.title{font-weight:bold;
       color:#40B4C3;}
.date{font:14px;
      color:#a5a5a7;
      border-bottom:1px dashed #a5a5a7;}
#wide{position:absolute;
      top:242px;
      left:0px;
      width:781px;
      height:40px;
      background:#40B4C3;
      border-top:1px solid #000000;
      border-bottom:1px solid #000000;}
#side{position:absolute;
      top:300px;
      left:520px;
      width:200px;
      border:1px solid #000000;
           padding-bottom:5px;
      background:#40B4C3;}
#side a{color:#ffffff; text-decoration:none; font-weight:normal;}
#side a:links{color:#ffffff;
              text-decoration:none;}
#side a:hover{color:#ffffff;
              border-bottom:1px dashed #ffffff;}
#side a:active{color:#ffffff;
               text-decoration:none;}
#side a:visited{color:#ffffff; text-decoration:none;}
.sidetitle{border-bottom:1px solid #000000;
           color:#ffffff;
           font-weight:bold;}
.sidebody{padding-left:5px;
         border-bottom:1px solid #000000;}
				 /* Styles for comment form */
form.bComment fieldset
{
	clear: both;
	border: none;
	margin: 2ex 0ex;
	padding: 0ex;
	/* border: 1px solid #f00; */
}
div.label
{
	float: left;
	width: 18%;
	text-align: right;
	font-weight: bold;
	position: relative;
	top: .5ex;
	color: #40B4C3;
	/* border: 1px solid #00f; */
}
form.bComment label
{
	font-weight: bold;
}
div.input
{
	float: right;
	width: 80%;
	/* border: 1px solid #00f; */
}
input.bComment, 
textarea.bComment,
select.bComment
{
	background-color: #f0f0f0;
	border-width: 1px;
	border-color: #cccccc;
	border-style: solid;
	padding: .5ex;
	width: 98%;
	margin: 0ex;
}
fieldset .notes
{
	/* display: block; */
	font-size: 80%;
	color: #999999;
}
