/* Basic styles */

.nobr,
.line
{
	white-space: nowrap;
}
.right{
	text-align: right;
}
.clear{
	clear: both;
}
.small {
	font-size: 84%;
}
div.error,
div.log_error {
	padding: 0 2ex;
	margin: 1ex auto;
	border: 1px solid #fed;
	background: #fff5ee;
	color: #FF0000;
}

ul.log {
	list-style: square;
}

p.error,
span.error {
	color: #FF0000;
	font-weight:bold;
}
