/* Basic styles */

blockquote {
	border: 2px dotted #ccc;
	background-color: #eee;
	margin: 1em 2em;
	padding: 0 1ex;
}

acronym,
abbr {
	border-bottom: 1px dotted #000;
	cursor: help;
}

del {
	color: #999999;
}
ins {
	color: #009999;
	text-decoration: none;
}
code {
	font-size: 107%;
}


.nobr,
.nowrap,
.line
{
	white-space: nowrap;
}
.center {
	text-align: center;
}
.right{
	text-align: right;
}
.clear{
	clear: both;
}
.small {
	font-size: 84%;
}

/* TODO: get this outta here!! this is NOTHING basic! */
ul.clicktree {
	margin:0 0 0 2ex;
	padding:0ex;
	list-style:none;
}

ul.clicktree ul.clicktree {
	margin-left:4ex;
}

ul.plain {
	list-style:none;
	margin:0;
	padding:0;
}


/*
{{{ Messages
*/
div.error {
	padding:1ex;
}
div.error,
div.log_container {
	margin:1ex auto;
}
div.log_container ul,
div.log_container ol {
	list-style: square;
	list-style-image:none;
	margin:1ex 0;
	padding-left:3ex;
}
div.log_container div {
	border:1px solid #6287c2;
	background:#ddd;
	margin:1ex auto;
	padding:1ex;
}
div.log_container div.log_error,
div.error {
	border:1px solid #d99;
	background:#fbf2ee;
	color:#e00;
}

p.error,
span.error {
	color: #e00;
	font-weight:bold;
}
p.error {
	margin: 1ex;
}
/* }}} */
