/* Basic styles */

blockquote {
	border: 2px dotted #ccc;
	background-color: #eee;
	margin: 1em 2em;
	padding: 0 1ex;
}

acronym,
abbr {
	border-bottom: 1px dotted #000;
	cursor: help;
}

del {
	color: #999999;
}
ins {
	color: #009999;
	text-decoration: none;
}
code {
	font-size: 107%;
}


.nobr,
.line
{
	white-space: nowrap;
}
.center {
	text-align: center;
}
.right{
	text-align: right;
}
.clear{
	clear: both;
}
.small {
	font-size: 84%;
}


div.log_note,
div.log_error,
div.error {
	padding:1ex;
	margin:1ex auto;
}
div.log_note {
	border:1px solid #6287c2;
	background:#ddd;
	color:#000;
}
div.log_error,
div.error {
	border:1px solid #d99;
	background:#fbf2ee;
	color:#e00;
}
div.log_note ul,
div.log_note ol,
div.log_error ul,
div.log_error ol {
	margin-top: 1ex;
	margin-bottom: 1ex;
}
ul.log {
	list-style: square;
}

p.error,
span.error {
	margin: 1ex;
	color: #e00;
	font-weight:bold;
}
