/* 
 * Default Blog elements styles 
 * Feel free to override all these styles in your own skins
 */

a.permalink_right {
	float: right;
	border: 0px;
}

span.bIcons
{
	float: right;
	border: 0px;
}

span.NonExistentWikiWord {
	border-bottom: 1px dotted #ccc;
}

div.codeblock {
	background-color: #eee;
	border: 1px dotted #aaa;
	margin: 1ex;
	padding: 1ex;
	width: 90%;
	overflow: auto;
}

div.codeblock pre {
	margin: 0;
}