/* 
 * Default comment styles 
 * Feel free to override all these styles in your own skins
 */

/* Styles for comments */
div.bComment, /* Entire comment block */
form.bComment /* New comment form */
{ 
	margin-right: 20px;
	margin-left: 20px;
	margin-top: 8px;
	margin-bottom: 8px;
	border: 1px dotted #6699CC;
	padding-right: 8px;
	padding-left: 8px;
}
div.bCommentTitle {
	margin-top: 8px;
	margin-bottom: 8px;
	font-weight: bold;
}
div.bCommentText {
	margin-top: 0px;
	margin-bottom: 0px;
}
div.bCommentSmallPrint {
	clear: both;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 80%;
	margin-top: 8px;
	margin-bottom: 8px;
}
