/* 
 * Default Form styles 
 * Feel free to override all these styles in your own skins
 */


/* Shared */

form {
	margin: 0;
	padding: 0;
} /* thanks #mozilla */
form.inline {
	margin: 0px;
	padding:0px;
	display: inline;
}

fieldset span.notes {
	/* display: block; */
	font-size: 80%;
	color: #999999;
}
form.bComment label {
	font-weight: bold;
}

/* 24/75% forms - Fast Forms */
form.fform fieldset {
	border: 1px solid #ddd;
	margin-bottom: 1ex;
	background-color: #fff;
	padding: 0 0 1ex 0;
}
form.fform fieldset fieldset {
	clear: both;
	border: none;
	margin: 1ex;
	padding: 0;
	/* border: 1px solid #000; */
}
form.fform fieldset.submit fieldset {
	background: transparent;
}
form.fform div.label {
	float: left;
	width: 24%;
	text-align: right;
	padding-top: .6ex;
	font-weight:bold;
}
form.fform div.input {
	float: right;
	width: 75%;
}
form.fform fieldset.submit {
	border:0;
	background:transparent;
	clear:both;
}
form.fform fieldset.left60 {
	width:60%;
	float:left;
}
form.fform div.input input[type=checkbox],
form.fform div.input input[type=radio]
{
	margin-top: 5px;
}


/* 18/80% forms */
form.bComment fieldset
{	/* one form line */
	clear: both;
	border: none;
	margin: 2ex 0ex;
	padding: 0ex;
}
form.bComment fieldset div.label
{ /* label of form line */
	float: left;
	width: 18%;
	text-align: right;
	font-weight: bold;
	margin-top: .5ex;
	/* border: 1px solid #00f; */
}
form.bComment fieldset div.input
{ /* input zone of form line */
	float: right;
	width: 80%;
	/* border: 1px solid #00f; */
}
form.bComment fieldset div.info
{ /* info zone of form line */
	float: right;
	width: 80%;
	margin-top: .5ex;
	/* border: 1px solid #00f; */
}


