/* 
 * Default Form styles 
 * Feel free to override all these styles in your own skins
 */


/* Form layout */

form.bComment fieldset
{	/* one form line */
	clear: both;
	border: none;
	margin: 2ex 0ex;
	padding: 0ex;
}
fieldset div.label
{ /* label of form line */
	float: left;
	width: 18%;
	text-align: right;
	font-weight: bold;
	margin-top: .5ex;
	/* border: 1px solid #00f; */
}
fieldset div.input
{ /* input zone of form line */
	float: right;
	width: 80%;
	/* border: 1px solid #00f; */
}
fieldset div.info
{ /* info zone of form line */
	float: right;
	width: 80%;
	margin-top: .5ex;
	/* border: 1px solid #00f; */
}
fieldset label {
	font-weight: bold;
}
fieldset span.notes {
	/* display: block; */
	font-size: 80%;
	color: #999999;
}
