img{
	border: none;
}
img.avatar_before_login{
	margin-right: 2px;
}
a.user {
	text-decoration: none;
}
.user img{
	position: relative;
	top: 2px;
}

@media (min-width: 640px) {
	div.email_ugc, div.email_footer {
		margin-left: 0 !important;
		margin-right: 0 !important;
	}
}

@-ms-viewport {
	width: device-width;
}