/* Designed by Francois PLANQUE - http://fplanque.net/ */

/*
 * Main page construct:
 */
body {
	background: #eee url(rsc/img/bg.gif) repeat fixed center;
	color: #000;
	font-family: Georgia, "Times New Roman", Times, serif;
}

textarea, input, select, option, optgroup, ul.ui-autocomplete, li.token-input-token-facebook, div.token-input-dropdown-facebook {
	font: 13.43px Georgia, "Times New Roman", Times, serif;
}

div.wrapper {
	margin: 1em;
}
div.wrapper2 /* Main white content zone */
{
	background: #fff url(rsc/img/flamand.gif) no-repeat right bottom;
	width: 90ex;
	margin: 0 auto;
	padding: 0;
	border: 1px solid #000;
}

div.pageHeader /* Title zone */
{
	margin: 1ex;
	padding: 0;
	border-bottom: 1px dotted #000;
	background-image: url(rsc/img/birds.gif);
	background-repeat: no-repeat;
	background-position: right top;
}


.bPosts /* Left column */
{
	width: 60ex;
	float: left;
	overflow: hidden;
}

.bSideBar /* Right column */
{
	width: 29ex;
	float: right;
	overflow: hidden;
	border-left: 1px dotted #000;
	padding-bottom: 250px;	/* Breathing space for background image */
}
div.clear {
	clear: both;
}
div#pageFooter {
	margin: 1ex 195px 1ex 1ex;
	padding:0;
	border-top: 1px dotted #000;
	color: #666;
	-webkit-text-size-adjust: none; /* iPhone */
}
p.baseline {
	font-size: 70%;
	text-align: center;
	margin:1ex;
}
p.baseline a {
	color: #666;
}
p.baseline a.contact_link:hover {
	color: #c0c;
}
/*
 * General styles:
 */
a,
a:visited {
	color: #666;
	text-decoration:none;
}
a:hover {
	color: #c0c;
	text-decoration:underline;
}

h2 {
	color: #f09;
	font-size: 180%;
	margin: 1ex;
}
h3 {
	color: #f09;
	font-size: 120%;
}
h4 {
	color: #f09;
	font-size: 110%;
}

/*
 * Blog list on top:
 */
div.PageTop ul {
	border-bottom: 1px dotted #000;
	margin: 0 1ex;
	padding: 0;
	list-style-type:none;
	padding: .5ex 0;
}
div.PageTop li {
	display: inline;
	padding-right: 1em;
}
div.PageTop a.selected {
	color: #f09;
	font-weight:bold;
}


/*
 * Menu on top:
 */
div.top_menu ul {
	margin: 0;
	padding: 0;
	list-style-type:none;
	padding: .5ex 0;
}
div.top_menu li {
	display: inline;
	padding-right: 1em;
}
div.top_menu a.selected {
	color: #f09;
	font-weight:bold;
}


/*
 * Header styles:
 */
div.pageHeader h1 {
	font-size: 250%;
	font-weight: bold;
	margin: 0;
	padding: 0;
}
div.pageHeader h1 a {
	color: #000;
}
div.pageHeader h1 a:hover {
	color: #c0c;
}
div.pageHeader div.widget_core_coll_tagline {
	letter-spacing: 4px;
	margin: 1ex 0;
	font-size: 109%;
}


/*
 * Styles for forms
 */
.bPost, .bPostpublished
{
	clear: both;
	margin: 0 2.5ex;
	padding: 0;
}
div.separator {
	text-align:center;
	margin: 2em 0;
}
.bSmallHead {
	font-size: 78%;
	margin: 2ex 0 1ex 0;
}
.bTitle, .bTitle.linked a {
	color: #000;
	margin: 1ex 0;
}
.bText {
	margin-top: 0px;
	margin-bottom: 0px;
}
.bSmallPrint
{
	clear: both;
	font-size: 78%;
	margin: 1ex 0 2ex 0;
}

input.bComment,
textarea.bComment
{
	background-color: #eee;
	border: 1px solid #ccc;
	width: 97%;
	padding: 2px;
	margin: 0ex;
}
select.bComment		/* Used by the profile form */
{
	background-color: #eee;
	border: 1px solid #ccc;
	padding: 1px;
	margin: 0ex;
}


/*
 * Styles for sidebar (right)
 */
.bSideItem {
	font-size: 84%;
	margin: 2ex;
	padding: 0 0 2ex 0;
}

.bSideItem ul {
	margin-left: 8px;
	padding-left: 8px;
	margin-top: 8px;
	margin-bottom: 8px;
	list-style-type:square;
}
.bSideItem ul ul{
	margin-left: 8px;
	padding-left: 8px;
	margin-top: 0px;
	margin-bottom: 0px;
}
.bSideItem form {
	margin-top: 0px;
	margin-bottom: 0px;
}
.dimmed
{
	color: #aaa;
	font-size: 84%;
}
div.compact_search_form input.SearchField
{
	background-color: #fff0f8;
	border: 1px solid #ccc;
	padding: .5ex;
	width: 150px;
}

/* Special SideItems: */
.widget_plugin_evo_Calr,
.widget_core_coll_title,
.widget_core_coll_longdesc {
	padding: 0;
}
.widget_core_coll_title a {
	color: #f09;
}

/* Calendar: */
table.bCalendarTable caption {
	border: 1px solid #ccc;
	background-color: #eee;
	border-bottom: 0;
}
table.bCalendarTable {
	border: solid 1px #ccc;
	border-collapse: separate;
}
table.bCalendarTable a {
	color: #f09;
}
table.bCalendarTable tfoot td {
	background-color: #eee;
	border-top: 1px solid #ccc;
}
table.bCalendarTable tfoot a {
	text-decoration: none;
}
table.bCalendarTable tfoot a:hover {
	background-color: #fac;
}
th.bCalendarHeaderCell {
	color: #ccc;
	font-weight:normal;
}
#bCalendarToday {
	background-color: #fac;
}

/*
 * Styles for comment screen:
 */
form.bComment fieldset div.label,
form.bComment fieldset div.input,
form.bComment fieldset div.info
{
	font-size: 84%;
}
textarea.bComment,
input.bComment {
	background-color: #fff0f8;
}


div.featured_post {
	margin: 1ex 1ex 1ex 1em;
	padding: 0 1ex;
}

textarea#msg_text {
	width: 100%;
}

/* Not published comments display */
#styled_content_block .bComment .status_draft,
#styled_content_block .bComment .status_review,
#styled_content_block .bComment .status_community,
#styled_content_block .bComment .status_protected,
#styled_content_block .bComment .status_private {
	top: 0px;
	left: 16px;
}
/* Not published posts display */
#styled_content_block .bSmallHead .status_draft,
#styled_content_block .bSmallHead .status_review,
#styled_content_block .bSmallHead .status_community,
#styled_content_block .bSmallHead .status_protected,
#styled_content_block .bSmallHead .status_private {
	left: 19px;
}