// Checklist Items widget

.checklist_items {

    margin-bottom: 0.5rem;

    .checklist_item {
        display: flex;
        flex-direction: row;
        justify-content: space-between;

        label {
            // min-width set to 0 ensures the element doesn't auto-resize to the parent flex container, and wraps as needed.
            min-width: 0;
            display: flex;

            input[type="checkbox"] {
                flex-shrink: 0;
            }

            .checklist_item_label {
                word-break: break-word;
            }
        }

        .checklist_item_delete {
            flex-shrink: 0;
            margin-left: 3px;
        }

        // Show delete action icon on hover:
        &:hover {
            .checklist_item_delete {
                visibility: visible !important;
            }
        }

        // Strikeout checked items:
        input[type="checkbox"]:checked + .checklist_item_label {
            text-decoration: line-through;
        }
    }

    .droppable-hover > label:first-child::before {
        content: "";
        position: absolute;
        width: 0;
        height: 0;
        border: 6px solid transparent;
        border-left-color: #f00;
        border-right: none;
        left: -5px;
        bottom: -7px;
    }

    .droppable-hover > label:after {
        content: "";
        position: absolute;
        width: 102%;
        height: 2px;
        background: #F00;
        left: 0;
        bottom: -2px;
    }
}

.checklist_item_input {
    overflow-y: hidden;

    &.add_checklist_item_input {
        margin-bottom: 0.5rem;
    }
}
