/* Designed by François PLANQUE http://fplanque.net/ */

body {
	font-family: Arial, Helvetica, sans-serif;
	background-color: #FFFFFF;
	background-repeat: repeat-x;
	margin: 8px;
	color: #000000;
/*	font-size: 84%; 	poussé vers l'extérieur pour éviter des combinaisons en trop grand nombre */
}
div.main {
	margin: 8px;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 84%;
}
td {
	font-family: Arial, Helvetica, sans-serif;
}
th {
	font-family: Arial, Helvetica, sans-serif;
}
caption {
	font-family: Arial, Helvetica, sans-serif;
	font-weight: bold;
}

A 			{
}
A:link		{
	color: #0066CC;
}
A:visited	{
	color: #009999;
}
A:active	{
	color: #003399;
}
A:hover		{
	color: #003399;
}
h1 {
	color: #009999;
	font-size: 225%;
}
h2 {
	color: #009999;
	font-size: 180%;
}
h3 {
	font-size: 120%;
}
h4 {
	font-size: 110%;
	margin-bottom: 0ex;
}
table.wide {
	width: 100%;
	clear: both;
}
td.cartouche {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 84%;
	color: #009999;
	background-color: #FFFFFF;
	padding: 1px 4px;
	border: 1px solid #33CCCC;
}
table.thin
{
	border: 1px solid #33CCCC;
	margin: auto;
	border-collapse: collapse
}
table.thin td
{
	border-bottom: 1px solid #33CCCC;
	padding: .3ex 1ex;
}
table.thin th
{
	color: #FFFFFF;
	background-color: #33CCCC;
	border-left: 1px solid #FFFFFF;
	border-right: 1px solid #FFFFFF;
	padding: .3ex 1ex;
}

table.invisible
{
	margin: 1ex;
	border-collapse: collapse
}
table.invisible td
{
	padding: 0ex 1ex;
}
td.right
{
	text-align: right;
}
p.baseline {
	font-size: 65%;
	color: #009999;
	text-align: center;
	margin-top: 8px;
}
hr {
	height: 0px;
	border-top: 1px solid #33CCCC;
	border-right: 1px none #33CCCC;
	border-bottom: 1px none #33CCCC;
	border-left: 1px none #33CCCC;

}
dt {
	font-weight: bold;
	color: #009999;
}
blockquote {
	border: 2px dotted #33CCCC;
	padding: 12px 16px;
	background-color: #DDEEEE;
	margin: 10px;
}
.center
{
	text-align: center;
}
img.top {
	vertical-align: top;
	border: 0px;
}
img.middle {
	vertical-align: middle;
	border: 0px;
}
.leftmargin {
	float: left;
	border: 0px;
	margin-right: 1ex;
	margin-top: .2ex;
	margin-bottom: .2ex;
}
.rightmargin {
	float: right;
	border: 0px;
	margin-left: 1ex;
	margin-top: .2ex;
	margin-bottom: .2ex;
}
	
.FigZone {
	text-align: center;
	margin: 8px;
}

.FigCent240 {
	width: 240px;
	color: #FFFFFF;
	background-color: #000000;
	padding: 12px;
	margin: 0ex auto;
	border: 1px solid #FFFFFF;
	text-align: center;
}
.FigCent320 {
	width: 320px;
	color: #FFFFFF;
	background-color: #000000;
	padding: 12px;
	margin: 0ex auto;
	border: 1px solid #FFFFFF;
	text-align: center;
}
.FigZone img{
	border: none;
	margin-bottom: 8px;
}
.FigZone a{
	color: #FFFFFF;
	text-decoration: none;
}
.FigZone a:link{
	color: #FFFFFF;
}
.FigZone a:visited{
	color: #FFFFFF;
}
.FigZone a:active{
	color: #FFFFFF;
}
acronym {
	border-bottom-width: 1px;
	border-bottom-style: dotted;
	border-bottom-color: #000000;
	cursor: help;
}
abbr {
	border-bottom-width: 1px;
	border-bottom-style: dotted;
	border-bottom-color: #000000;
	cursor: help;
}
del {
	color: #999999;
}
ins {
	color: #009999;
	text-decoration: none;
}

