/* Designed by François PLANQUE http://fplanque.net/ */

body {
	padding: 0px;
	margin-top: 0px;
	margin-right: 0px;
	margin-left: 0px;
}
div.pageHeader {
	background-color: #33CCCC;
	width: 100%;
}
div.pageHeaderContent {
	padding-left: 5px;
	padding-top: 2px;
	padding-right: 0px;
	padding-bottom: 0px;
	font-family: Arial, Helvetica, sans-serif;
	font-weight: bold;
	font-size: 84%;
	width: 90ex;
	text-align: left;
	margin-right: auto;
	margin-left: auto;
	/* border: 1px solid #990000; */

}
div.pageTitle {
	white-space: nowrap;
	padding-left: 2.5ex;
	padding-top: 8px;
	padding-right: 0px;
	padding-bottom: 8px;
	background-color: #33CCCC;
	border: 1px solid #FFFFFF;
	margin-top: 3px;
	float: left;
	width: 75ex;
}
h1#pageTitle {
	font-family: Arial, Helvetica, sans-serif;
	color: #FFFFFF;
	font-size: 270%;
	font-weight: bold;
	padding: 0px;
	margin: 0px;
}
div#Logo {
	font-family: Arial, Helvetica, sans-serif;
	color: #FFFFFF;
	font-size: 270%;
	font-weight: bold;
	vertical-align: bottom;
	border: 1px solid #FFFFFF;
	margin-top: 3px;
	margin-right: 3px;
	padding-left: .6ex;
	padding-top: 8px;
	padding-right: .6ex;
	padding-bottom: 8px;
	float: left;
	background-image:  url(img/right.gif);
	background-repeat: no-repeat;
	background-position: center center;
	width: 32px;
}

div.NavBar {
	clear: both;
	height: 1ex;
}
.pageHeaderEnd {
	clear: both;
	margin-top: 0px;
	margin-bottom: 0px;
	padding: 0px;
	height: 5px;
	font-size: 0ex;
}
a.NavButton {
	text-decoration: none;
	background-color: #33AAAA;
	border: 1px solid #FFFFFF;
	padding-top: 2px;
	padding-right: 4px;
	padding-bottom: 2px;
	padding-left: 4px;
	white-space: nowrap;
	margin-right: 3px;
	margin-top: 3px;
	display: block;
	width: 14ex;
	float: left;
}
a.NavButtonCurr {
	text-decoration: none;
	background-color: #33CCCC;
	border: 1px solid #FFFFFF;
	text-align: left;
	vertical-align: top;
	padding-top: 2px;
	padding-right: 4px;
	padding-bottom: 2px;
	padding-left: 4px;
	white-space: nowrap;
	margin-top: 3px;
	margin-right: 3px;
	display: block;
	width: 14ex;
	float: left;
}
a.NavButton2 {
	text-decoration: none;
	background-color: #33BBBB;
	border: 1px solid #FFFFFF;
	vertical-align: middle;
	padding-top: 2px;
	padding-right: 4px;
	padding-bottom: 2px;
	padding-left: 4px;
	white-space: nowrap;
	margin-top: 3px;
	margin-right: 3px;
	display: block;
	width: 14ex;
	float: left;
}
a.NavButton2Curr {
	text-decoration: none;
	background-color: #33CCCC;
	border: 1px solid #FFFFFF;
	vertical-align: middle;
	padding-top: 2px;
	padding-right: 4px;
	padding-bottom: 2px;
	padding-left: 4px;
	white-space: nowrap;
	margin-top: 3px;
	margin-right: 3px;
	display: block;
	width: 14ex;
	float: left;
}

A.NavButton:link		{
	color: #FFFFFF;
}
A.NavButton:visited	{
	color: #FFFFFF;
}
A.NavButton:active	{
	color: #FFFFFF;
}
A.NavButton:hover		{
	color: #FFFFFF;
	background-color: #33CCCC;
	/* text-decoration: underline; */
}
A.NavButtonCurr:link		{
	color: #FFFFFF;
}
A.NavButtonCurr:visited	{
	color: #FFFFFF;
}
A.NavButtonCurr:active	{
	color: #FFFFFF;
}
A.NavButtonCurr:hover		{
	color: #338888;
	/* text-decoration: underline; */
}
A.NavButton2:link		{
	color: #FFFFFF;
}
A.NavButton2:visited	{
	color: #FFFFFF;
}
A.NavButton2:active	{
	color: #FFFFFF;
}
A.NavButton2:hover		{
	color: #FFFFFF;
	background-color: #33CCCC;
	/* text-decoration: underline; */
}
A.NavButton2Curr:link		{
	color: #FFFFFF;
}
A.NavButton2Curr:visited	{
	color: #FFFFFF;
}
A.NavButton2Curr:active	{
	color: #FFFFFF;
}
A.NavButton2Curr:hover		{
	color: #33AAAA;
	/* text-decoration: underline; */
}
.pageSubTitle {
	font-size: 109%;
	color: #009999;
	font-family: Arial, Helvetica, sans-serif;
	letter-spacing: 4px;
	text-align: center;
	vertical-align: middle;
	border: 0px;
	padding-right: 6px;
	padding-top: 6px;
	padding-bottom: 4px;
	padding-left: 6px;
}
div.stats{
	float: right;
	padding-right: 1px;
	padding-top: 1px;
	padding-bottom: 1px;
	padding-left: 0px;
}

