body {
	background: #FFF;
	color: #424A52;
	font: 14px Helvetica, Arial, sans-serif;
}

a {
	color: #306595;
	text-decoration: none;
	transition: color 150ms ease 0s;
}
a:hover {
	color: #4082BE;
}

textarea, input, select, option, optgroup, ul.ui-autocomplete, li.token-input-token-facebook, div.token-input-dropdown-facebook {
	font-size: 15px Helvetica, Arial, sans-serif;
}
textarea.form_textarea_input {
	width: 95%;
}

.layout_width {
	box-sizing: border-box;
	width: 100%;
	max-width: 1140px;
	padding: 0 25px;
	margin: 0 auto;
}
@media (max-width: 700px) {
	table.legend td {
		font-size: 88%;
	}
}

h2.page_title {
	margin-bottom: 15px;
}

div#skin_wrapper .sitewide_header {
	margin-bottom: 0;
	position: fixed;
	top: 0;
	width: 100%;
	z-index: 10000;
	-webkit-font-smoothing: subpixel-antialiased;
}
div#skin_wrapper.skin_wrapper_loggedin .sitewide_header {
	top: 27px;
}

div.bComment, form.bComment {
	border: none;
	padding: 0;
	margin: 0;
	overflow: inherit;
}
form.inskin {
	padding: 0;
}
form#user_checkchanges.bComment {
	border: none;
}

/* Forum icons */
.ficon {
	background: url(img/icons.gif) no-repeat;
	display: inline-block;
	&.newTopic {
		background-position: 0 0;
		width: 82px;
		height: 25px;
	}
	&.postReply {
		background-position: 0 -25px;
		width: 82px;
		height: 25px;
	}
	&.locked {
		background-position: 0 -50px;
		width: 82px;
		height: 25px;
	}
	&.catBig {
		background-position: -82px 0;
		width: 26px;
		height: 25px;
	}
	&.catBigLocked {
		background-position: -82px -25px;
		width: 26px;
		height: 25px;
	}
	&.topic {
		background-position: -108px 0;
		width: 19px;
		height: 18px;
	}
	&.topicLocked {
		background-position: -108px -18px;
		width: 19px;
		height: 18px;
	}
	&.topicSticky {
		background-position: -108px -36px;
		width: 19px;
		height: 18px;
	}
	&.latestReply {
		background-position: -82px -50px;
		width: 16px;
		height: 9px;
		margin: 0 1px;
	}
	&.minipost {
		background-position: -91px -50px;
		width: 7px;
		height: 9px;
		margin: 0 3px 0 2px;
	}
}

.form_add_contacts .controls {
	padding-left: 0;
}

/* Forums & Topics tables */
.forums_table, #edit_group_contacts {
	width: 100%;
	box-shadow: 0 2px 6px rgba(117, 124, 142, 0.6);
	border-radius: 5px;
	margin-bottom: 10px;
}
.forums_table.fixed_layout {
	table-layout: fixed;
}
.forums_table.fixed_layout tr.fixrow0 {
	margin: 0;
}
.forums_table.fixed_layout tr.fixrow0 td {
	padding-top: 0;
	padding-bottom: 0;
	border: none;
}
.bForums.fixed_layout .ft_avatar {
	width: 80px;
}
.forums_table > tbody > tr:first-child > th:first-child,
.forums_table > tbody > tr:first-child > td:first-child {
	border-top-left-radius: 5px;
}
.forums_table > tbody > tr:first-child > th:last-child,
.forums_table > tbody > tr:first-child > td:last-child {
	border-top-right-radius: 5px;
}
.forums_table > tbody > tr:last-child > th:first-child,
.forums_table > tbody > tr:last-child > td:first-child {
	border-bottom-left-radius: 5px;
}
.forums_table > tbody > tr:last-child > th:last-child,
.forums_table > tbody > tr:last-child > td:last-child {
	border-bottom-right-radius: 5px;
}
.forums_table .catselect tr th, .forums_table .catselect tr td,
.forums_table .grouped tr th, .forums_table .grouped tr td {
	border-radius: 0 !important;
}
.forums_table .meta_category th,
.forums_table thead th,
.messages_list > h2 {
	padding: 12px 20px;
	background-color: #ECEDF3;
	background-image: -webkit-linear-gradient(#F1F2F6, #E7E9F0);
	background-image: -moz-linear-gradient(#F1F2F6, #E7E9F0);
	background-image: linear-gradient(#F1F2F6, #E7E9F0);
	color: #535C66;
	font-size: 14px;
	font-weight: bold;
	text-align: left;
	text-transform: uppercase;
	text-shadow: 0 1px 1px #FFFFFF;
	box-shadow: 0 -1px 2px rgba(0, 0, 0, 0.05) inset;
}
.forums_table thead tr:last-child th:first-child,
.forums_table thead tr:last-child th:last-child {
	border-bottom-left-radius: 0;
	border-bottom-right-radius: 0;
}
.forums_table .meta_category th a,
.forums_table thead th a {
	color: #535C66;
}
.forums_table th, .forums_table td {
	border-bottom: 1px solid #D1D2DA;
}
.forums_table > tbody > tr:last-child > th, .forums_table > tbody > tr:last-child > td {
	border: none;
}
.forums_table > tbody > tr > td {
	padding: 10px 0 10px 20px;
}
.forums_table > tbody > tr > td:last-child {
	padding-right: 20px;
}
.forums_table.highlight tr:hover td {
	background: #f9fafc;
}
.forums_table .ft_status {
	width: 26px;
}
.forums_table .ft_status_topic {
	width: 19px;
}
.forums_table .ft_title > a.forumlink {
	font-size: 21px;
}
.forums_table .ft_title a.topictitle {
	color: #535C66;
	font-size: 16px;
}
.forums_table .ft_title a.topictitle.unread {
	font-weight: bold;
}
.forums_table .ft_title a.topictitle:hover {
	color: #31363C;
}
.forums_table .ft_desc,
.forums_table .ft_count {
	color: #8B96A1;
}
.forums_table .ft_count {
	width: 100px;
}
.forums_table .ft_date {
	width: 220px;
	white-space: nowrap;
	padding-right: 20px;
}
.forums_table .ft_author_info {
	color: #9CA5AE;
}
.forums_table .ft_author_avatar {
	float: left;
	margin-right: 10px;
	display: block;
}
body.round_avatars .forums_table .ft_author_avatar img {
	border-radius: 3px;
}
.forums_table .track_content {
	margin: 0 5px 5px 0;
}
.forums_table .buttons {
	text-align: center;
}
/* Topics table */
.topics_table > tbody > tr > td, .topics_table > tbody > tr:last-child > td {
	border-top: 1px solid #D1D2DA;
	border-bottom: none;
}
.topics_table .table_title th {
	text-align: left;
	padding: 8px 25px 8px 20px;
	color: #535c66;
	font-weight: normal;
	-moz-border-radius-topleft: 5px;
	-webkit-border-top-left-radius: 5px;
	border-top-left-radius: 5px;
	-moz-border-radius-topright: 5px;
	-webkit-border-top-right-radius: 5px;
	border-top-right-radius: 5px;
	-webkit-box-shadow: inset 0 -1px 2px rgba(0, 0, 0, 0.1);
	-moz-box-shadow: inset 0 -1px 2px rgba(0, 0, 0, 0.1);
	box-shadow: inset 0 -1px 2px rgba(0, 0, 0, 0.1);
	background-image: -webkit-linear-gradient(bottom, #e6e8f1, rgba(230, 232, 241, 0.01) 25px);
	background-image: -moz-linear-gradient(bottom, #e6e8f1, rgba(230, 232, 241, 0.01) 25px);
	background-image: linear-gradient(to top, #e6e8f1, rgba(230, 232, 241, 0.01) 25px);
}
.topics_table .table_title th h2 {
	font-size: 14px;
	margin: 0;
	line-height: 48px;
}
.topics_table .form_title {
	font-weight: bold;
	line-height: 30px;
	text-align: center;
}
.single_topic .table_title th h2,
.single_topic .table_title th .ft_author_info {
	line-height: 24px;
	margin: 3px 0;
}
.topics_table tr.panel td, .topics_table tr.panel:hover td,
.forums_table th.fieldset {
	background-image: -webkit-linear-gradient(#f5f6fa, #e6e7f0);
	background-image: -moz-linear-gradient(#f5f6fa, #e6e7f0);
	background-image: linear-gradient(#f5f6fa, #e6e7f0);
	background-color: #edeef5;
	-webkit-box-shadow: inset 0 -1px 2px rgba(0, 0, 0, 0.05);
	-moz-box-shadow: inset 0 -1px 2px rgba(0, 0, 0, 0.05);
	box-shadow: inset 0 -1px 2px rgba(0, 0, 0, 0.05);
	margin: 0;
	padding: 12px 25px;
}
.topics_table tr.panel.white td {
	background: #FFF;
}
.topics_table tr.panel td:empty {
	display: none;
}
.topics_table .panel .post_button {
	float: left;
}
.forums_table .noposts .post_button {
	display: inline-block;
	vertical-align: middle;
	margin-top: -3px;
}
.forums_table .noposts td {
	line-height: 25px;
}
.topics_table .panel .posts_navigation {
	float: right;
	margin: 6px 0;
}
.topics_table .panel .navigation {
	float: right;
	margin-top: 2px;
}
.navigation a, .navigation .current_page {
	background-image: -webkit-linear-gradient(#d4d9e1, #bec4d1);
	background-image: -moz-linear-gradient(#d4d9e1, #bec4d1);
	background-image: linear-gradient(#d4d9e1, #bec4d1);
	background-color: #c9ced9;
	text-align: center;
	text-shadow: 0 1px 1px rgba(0, 0, 0, 0.15);
	float: left;
	margin: 0;
	padding: 0 6px;
	border: 1px solid rgba(0, 0, 0, 0.01);
	border-bottom-color: rgba(0, 0, 0, 0.15);
	border-left: none;
	border-right: none;
	color: #FFF;
	font-weight: bold;
	font-size: 12px;
	line-height: 19px;
	vertical-align: top;
}
.navigation a:first-child, .navigation .current_page:first-child {
	border-top-left-radius: 3px;
	border-bottom-left-radius: 3px;
}
.navigation a:last-child, .navigation .current_page:last-child {
	border-top-right-radius: 3px;
	border-bottom-right-radius: 3px;
}
.navigation a.prev, .navigation a.next {
	background-image: -webkit-linear-gradient(#9fa3ac, #787d88);
	background-image: -moz-linear-gradient(#9fa3ac, #787d88);
	background-image: linear-gradient(#9fa3ac, #787d88);
	background-color: #8b909a;
	border: 1px solid #DDD;
	border-color: rgba(0, 0, 0, 0.05) rgba(0, 0, 0, 0.2) rgba(0, 0, 0, 0.4);
	text-align: center;
	text-shadow: 0 1px 1px rgba(0, 0, 0, 0.15);
}
.navigation .current_page {
	-webkit-box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.25);
	-moz-box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.25);
	box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.25);
	color: #FFF;
}
.ft_search td {
	text-align: center;
}
.ft_search .search_field {
	border-radius: 3px;
	-webkit-transition: box-shadow 150ms ease;
	-moz-transition: box-shadow 150ms ease;
	transition: box-shadow 150ms ease;
	-webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.18);
	-moz-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.18);
	box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.18);
	padding: 6px 7px;
	border: 1px solid #999;
	width: 600px;
	height: 30px;
	line-height: 30px;
	padding: 0 5px;
	font-size: 15px;
}
.ft_search .search_submit {
	display: inline-block;
	border: 1px solid #666;
	border-radius: 3px;
	padding: 0 16px;
	margin-left: 5px;
	text-shadow: 0 1px 1px rgba(0, 0, 0, 0.15);
	height: 31px;
	line-height: 31px;
	background-image: -webkit-linear-gradient(#9fa3ac, #787d88);
	background-image: -moz-linear-gradient(#9fa3ac, #787d88);
	background-image: linear-gradient(#9fa3ac, #787d88);
	background-color: #8b909a;
	position: relative;
	top: -1px;
	font-size: 15px;
}
.ft_search .search_submit:hover {
	background-image: -webkit-linear-gradient(#787d88, #9fa3ac);
	background-image: -moz-linear-gradient(#787d88, #9fa3ac);
	background-image: linear-gradient(#787d88, #9fa3ac);
	background-color: #8b909a;
}
/* Single topic */
.single_topic .ft_avatar {
	width: 80px;
}
.single_topic .ft_avatar a {
	position: relative;
}
.single_topic .ft_avatar a:before {
	box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2) inset;
	content: "";
	display: block;
	height: 100%;
	position: absolute;
	width: 100%;
}
.single_topic .ft_avatar a,
.single_topic .ft_avatar span,
.single_topic .ft_avatar img {
	display: inline-block;
}
body.round_avatars .single_topic .ft_avatar a:before,
body.round_avatars .single_topic .ft_avatar a,
body.round_avatars .single_topic .ft_avatar span,
body.round_avatars .single_topic .ft_avatar img {
	border-radius: 50%;
}
.single_topic .ft_post_info, .single_topic .ft_post_info td {
	color: #9CA5AD;
}
.single_topic .ft_post_info a.permalink {
	color: #9CA5AD;
	font-weight: bold;
	float: right;
}
.single_topic .ft_comment_response td {
	background: #F6F6F6;
}
.single_topic .ft_comment_response h3 {
	margin: 0;
}
.single_topic .star_rating {
	display: inline-block;
	margin-left: 10px;
}

/* Legend table & list */
table.legend {
	text-align: center;
	margin: 20px auto;
}
table.legend td {
	padding: 0 20px 0 5px;
	vertical-align: middle;
}
ul.legend {
	list-style: none;
	border: none;
	text-align: center;
	padding: 0;
}
ul.legend.bForums.bPosts {
	margin: 10px 0;
}
ul.legend li {
	list-style: none;
	display: inline-block;
	white-space: nowrap;
	vertical-align: middle;
	margin: 5px;
}
ul.legend li span {
	vertical-align: middle;
}
ul.legend a {
	text-decoration: none;
	vertical-align: middle;
	display: inline-block;
}
ul.legend span.note {
	float: none;
}

/* Breadcrumbs */
.breadcrumbs {
	margin-bottom: 10px;
}
.breadcrumbs a {
	position: relative;
	display: inline-block;
	padding: 0 12px;
	background-color: #A3ACBE;
	background-image: -webkit-linear-gradient(#B5BDCB, #929BB1);
	background-image: -moz-linear-gradient(#B5BDCB, #929BB1);
	background-image: linear-gradient(#B5BDCB, #929BB1);
	border: 1px solid #000;
	border-color: rgba(0, 0, 0, 0) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.3);
	border-right: none;
	color: #FFF;
	font-size: 12px;
	font-weight: bold;
	line-height: 26px;
}
.breadcrumbs a:first-child {
	border-bottom-left-radius: 3px;
	border-top-left-radius: 3px;
}
.breadcrumbs a:last-child {
	background-color: #848C9D;
	background-image: -webkit-linear-gradient(#98A0AF, #70788C);
	background-image: -moz-linear-gradient(#98A0AF, #70788C);
	background-image: linear-gradient(#98A0AF, #70788C);
	border-bottom-right-radius: 3px;
	border-top-right-radius: 3px;
}
.breadcrumbs a:last-child:before {
	content: "";
	height: 20px;
	margin-top: -10.5px;
	position: absolute;
	right: -8px;
	top: 50%;
	width: 20px;
	background-image: -webkit-linear-gradient(45deg, #98A0AF, #70788C);
	background-image: -moz-linear-gradient(45deg, #98A0AF, #70788C);
	background-image: linear-gradient(45deg, #98A0AF, #70788C);
	-webkit-transform: rotate(135deg) skew(-10deg, -10deg);
	-moz-transform: rotate(135deg) skew(-10deg, -10deg);
	-ms-transform: rotate(135deg) skew(-10deg, -10deg);
	transform: rotate(135deg) skew(-10deg, -10deg);
	-moz-border-radius-topright: 6px;
	-webkit-border-top-right-radius: 6px;
	border-top-right-radius: 6px;
	-moz-border-radius-bottomleft: 6px;
	-webkit-border-bottom-left-radius: 6px;
	border-bottom-left-radius: 6px;
	-webkit-box-shadow: inset 1px 1px rgba(0, 0, 0, 0.2);
	-moz-box-shadow: inset 1px 1px rgba(0, 0, 0, 0.2);
	box-shadow: inset 1px 1px rgba(0, 0, 0, 0.2);
}

/* Statuses of posts display in table view */
.evo_content_block span[class*='status_'] {
	top: -10px;
	left: 20px;
}
.forums_table span[class*='status_'],
.legend span[class*='status_'] {
	float: left;
	width: 80px;
}
.forums_table span[class*='status_'] span,
.legend span[class*='status_'] span {
	text-align: center;
	padding: 3px 0;
	font-size: 11px;
	font-weight: bold;
	border: 1px solid #FFFFFF;
	border-radius: 12px 12px 12px 12px;
	float: left;
	width: 80px;
}
.forums_table .ft_title span[class*='status_'] {
	margin-top: 7px;
}

/* Tabs of user profile pages */
div.tabs {
	top: 0;
}
div.tabs div a {
	border-color: #EEE;
	background: #FFF;
	padding: 10px 15px;
}
div.tabs div a:hover,
div.tabs div.selected a {
	background: #EDEEF5;
	border-color: #EEE;
}


div.edit_toolbar {
	width: 100%;
}
.profile_pictured_fieldsets {
	min-height: 0;
}
.profile_avatar {
	text-align: center;
	margin-bottom: 25px;
}
body.round_avatars .profile_avatar img {
	border-radius: 3px;
}
.edit_user_admin_link {
	margin-bottom: 10px;
}

div.results div.table_scroll {
	box-sizing: border-box;
	padding: 7px;
}
div.results div.title,
div.results div.filters {
	border: none;
	background: none;
}
.pagination {
	display: inline-block;
	margin: 0;
	padding: 0;
}
.pagination li {
	list-style: none;
	display: inline-block;
	padding: 3px;
}

.form_send_contacts, .form_add_contacts > span.label {
	padding-left: 22px;
}
#edit_group_contacts {
	background-image: -webkit-linear-gradient(#F1F2F6, #E7E9F0);
	background-image: -moz-linear-gradient(#F1F2F6, #E7E9F0);
	background-image: linear-gradient(#F1F2F6, #E7E9F0);
	border: none;
	padding: 10px;
	box-sizing: border-box;
}
#edit_group_contacts p {
	margin-top: 0;
}

.messages_list > h2 {
	border: none;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
	box-shadow: 0 2px 6px rgba(117, 124, 142, 0.6);
	margin: 0 5px;
}
.messages_list form.bComment {
	margin: 0 5px;
	padding-top: 0;
}
.messages_list form.bComment,
.messages_list div.messages_list_actions {
	background: none;
	border: none;
}
.messages_list form.bComment .forums_table,
.messages_list form.bComment .forums_table tr:first-child td {
	border-top-left-radius: 0;
	border-top-right-radius: 0;
	background: #FFF;
}

.vote_spam {
	float: left;
	padding: 1px 5px 0;
	line-height: 19px;
}
.vote_spam a, .vote_spam span {
	vertical-align: middle;
	top: -1px;
	display: inline-block;
}
.vote_helpful {
	float: left;
	display: block;
	line-height: 21px;
	padding-right: 5px;
}

/* The width switcher */
.switched_width {
	transition: all 1s;
	-moz-transition: all 1s; /* Firefox 4 */
	-webkit-transition: all 1s; /* Safari and Chrome */
	-o-transition: all 1s; /* Opera */
	-ms-transition: all 1s; /* IE */
}
#width_switcher_layout {
	position: absolute;
	top: 115px;
	right: 3px;
	z-index: 10001;
}
#width_switcher {
	display: none;
}
#width_switcher a {
	width: 26px;
	height: 36px;
	text-decoration: none;
}
#width_switcher.fixed {
	position: fixed;
	top: 3px;
	right: 3px;
}
/* Devices with max width <= 1024px (iPhone,iPad):
   Don't fix a width switcher */
@media only screen and (max-device-width: 1024px) {
	#width_switcher.fixed {
		position: absolute;
		width: 75px;
	}
}