.email_wrap img{
	border: none;
	max-width: 100%;
	height: auto;
}
.email_wrap img.avatar_before_login{
	margin-right: 2px;
}
.email_wrap a.user {
	text-decoration: none;
}
.email_wrap .user img{
	position: relative;
	top: 2px;
}

@media (max-width: 320px) {
	div.email_payload {
		margin-left: 0 !important;
		margin-right: 0 !important;
	}
}

@media (min-width: 640px) {
	div.email_ugc, div.email_footer {
		margin-left: 0 !important;
		margin-right: 0 !important;
	}
}

@-ms-viewport {
	width: device-width;
}