.qq-uploader { position:relative; width: 100%; }

.qq-upload-button,
.qq-upload-drop-area,
.qq-upload-drop-area-active {
	border: 2px dashed #fff;
	border-radius: 9px;
	-moz-border-radius: 9px;
	-webkit-border-radius: 9px;
	-khtml-border-radius: 9px;
	background: #b5cee0;
}
.qq-upload-button-hover,
.qq-upload-drop-area,
.qq-upload-drop-area-active {
	background: #5cb85c;
}

.qq-upload-button {
	display:block; /* or inline-block */
	width: 100%; height: 55px; padding: 7px 0; text-align:center;
	color: #fff;
	font-weight: bold;
	border-style: dashed;
	-ms-box-sizing: border-box;
	     box-sizing: border-box;
}

.qq-upload-button span {
	font-weight: normal;
	font-size: small;
}

.qq-upload-button-focus {outline:1px dotted black;}

.qq-upload-drop-area {
	position:absolute; top:0; left:0; width:100%; height:55px; padding: 7px 0; min-height: 35px; z-index:2;
	text-align:center;
	-ms-box-sizing: border-box;
	     box-sizing: border-box;
}
.qq-upload-drop-area span {
	display:block; position:absolute; top: 50%; width:100%; margin-top:-8px; font-size:16px;
}

.qq-upload-list {margin:15px 35px; padding:0; list-style:disc;}
.qq-upload-list li {
	line-height:15px; font-size:12px;
	border: 1px solid;
	border-color: #9DB0BC;
	margin: 4px;}

.qq-upload-file, .qq-upload-spinner, .qq-upload-size, .qq-upload-cancel, .qq-upload-failed-text {
	margin-right: 7px;
}

.qq-upload-spinner {display:inline-block; background: url("../icons/loading.gif"); width:15px; height:15px; vertical-align:text-bottom;}
.qq-upload-cancel {font-size:11px;}
.qq-upload-size{ white-space: nowrap; }

.qq-upload-failed-text {display:none;}
.qq-upload-fail .qq-upload-failed-text {display:inline;}

.result_success {
	color: #0c0;
	margin-left: 10px;
	border: solid #0c0;
}

.result_error {
	color: #e00;
	border: solid #e00;
}