body	{
	margin-top: 0px;
	margin-left: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
  background-color: #FFFFFF;
	color: #000000; 
	font-family: Verdana, Geneva, Arial, Helvetica;
	font-size: 84%;
}

h1 {
	color: #8ae;
	font-size: 160%;
}
h1.logintitle {
	color: #000;
	font-size: 120%;
}

h2 {
	margin-top: 0ex;
	margin-bottom: 1ex;
	color: #8ae;
	font-size: 140%;
}
h3 {
	font-size: 120%;
}
h4 {
	font-size: 110%;
	margin-top: 2ex;
	margin-bottom: 0.5ex;
}

a {
	background-color: transparent; 
	color: #0000FF;
	text-decoration: none;
}
a:hover {
	color: #FF3300;
	text-decoration: underline;
}

.panelbody 
{
	margin: 0ex;
	padding: 0ex;
	/* border:  1px solid #f00; */
}

.bPosts {
	vertical-align: top;
	float: left;
	width: 65%;
	clear: left;
	/* border:  1px solid #f00; */
	margin: 0ex;
	padding: 0ex;
	overflow: hidden;
}
.bSideBar {
	width: 33%;
	vertical-align: top;
	float: right;
	margin: 0ex;
	padding: 0ex;
	overflow: hidden;
}



div.panelblock
{
	border: 1px solid #CCCCCC;
	padding: 2ex;
	margin: 3ex;
}
div.loginblock
{
	border: 1px solid #CCCCCC;
	padding: 2ex;
	margin: 3ex auto;
	width: 30em;
}

div.paneltopblock
{
	border: 1px solid #CCCCCC;
	padding: 2ex;
	margin: 3ex;
	margin-bottom: 0ex;}

.bPost, .bPostpublished
{
	border: 1px solid #CCCCCC;
	padding: 2ex;
	margin: 3ex;
	margin-right: 0ex;
}

.bSideItem
{
	border: 1px solid #CCCCCC;
	padding: 2ex;
	margin: 3ex;
	margin-left: 0ex;
}
.bSideItem2
{
	border: 1px solid #CCCCCC;
	padding: 0ex 2ex 2ex;
	margin: 3ex 3ex 3ex 0ex;
}

div.panelinfo{
	width: 90%;
	padding: 2ex;
	margin: 3ex auto;
	border: 1px solid #def;
	background: #eef5ff;
}

div.error{
	width: 90%;
	padding: 2ex;
	margin: 3ex auto;
	border: 1px solid #fed;
	background: #fff5ee;
}
div.loginblock div.error{
	width: 95%;
}

ul.error{
	margin-bottom: 0ex;
}

.error {
	font-weight: bold;
	color: #FF0000;
}

legend
{
	font-weight: bold;
}



.tabletoprow {
	background-color: #ffffff;
	color: #000000; 
	font-family: Verdana, Geneva, Arial, Helvetica;
	font-size: 12px;
	font-style: italic;
}
.search {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #000066;
	background-color: #ffeecc;
	background-image: url("../admin/img/b2button.gif");
}
.quicktags {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #000000;
	background-color: #cccccc;
	background-image: url("../admin/img/b2button2.gif");
}



xmp { /* Just in case */
	font-family: Verdana, Geneva, Arial, Helvetica;
	font-size: 10pt;
}
form 
{ 
	margin: 0; 
	padding: 0; 
} /* thanks #mozilla */



form.inline
{
	margin: 0px;
	padding:0px;
	display: inline;
}


form.fform fieldset
{
	clear: both;
	border: none;
	margin: 2ex;
}
div.label
{
	float: left;
	width: 24%;
	text-align: right;
	padding-top: .6ex;
}
div.label label
{
	font-weight: bold;
}
div.input
{
	float: right;
	width: 75%;
}

textarea,input,select {
	background-color: #f0f0f0;
	border-width: 1px;
	border-color: #cccccc;
	border-style: solid;
	padding: 2px;
	margin: 1px;
}

input.checkbox 
{
	background-color: #ffffff;
	border-width: 0px;
	padding: 0px;
	margin: 0px;
}

input.searchfield
{
	/* Buggued in IE 6: width:100%; */
	margin: 0ex;
}

input.large, 
textarea.large,
div.large
{
	width: 98%;
	margin: 0ex;
}

table.thin,
table.thincols,
{
	border: 1px solid #ccc;
	margin: auto;
	border-collapse: collapse
}
table.thin td
{
	border-bottom: 1px solid #ccc;
	padding: .3ex 1ex;
}
table.thincols td
{
	border: 1px solid #ccc;
	padding: .3ex 1ex;
}
table.thin th,
table.thincols th,
{
	color: #fff;
	background-color: #ccc;
	border-left: 1px solid #FFFFFF;
	border-right: 1px solid #FFFFFF;
	padding: .3ex 1ex;
}

table.invisible
{
	margin: 1ex;
	border-collapse: collapse;
	margin: auto;
}
table.invisible td
{
	padding: 0ex 1ex;
}
td.right
{
	text-align: right;
}



blockquote {
	border: 2px dotted #33CCCC;
	padding: 12px 16px;
	background-color: #DDEEEE;
	margin: 10px;
}
.center
{
	text-align: center;
}
img.top {
	vertical-align: top;
	border: 0px;
}
img.middle {
	vertical-align: middle;
	border: 0px;
}
img.leftmargin {
	float: left;
	border: 0px;
	margin-right: 1ex;
	margin-top: .2ex;
	margin-bottom: .2ex;
}
img.rightmargin {
	float: right;
	border: 0px;
	margin-left: 1ex;
	margin-top: .2ex;
	margin-bottom: .2ex;
}

acronym {
	border-bottom-width: 1px;
	border-bottom-style: dotted;
	border-bottom-color: #000000;
	cursor: help;
}
abbr {
	border-bottom-width: 1px;
	border-bottom-style: dotted;
	border-bottom-color: #000000;
	cursor: help;
}

.footer{
	text-align: center;
	font-size: 74%;
	margin-top: 0ex;
	margin-bottom: 0ex;
	padding-bottom: 1ex;
}
.nobr
{
	white-space: nowrap;
}
span.line
{
	white-space: nowrap;
}


/* ---- Header + Menu --- */


#header 
{
  /* float:left; */
  width:100%;
  background: /* #DAE0D2 */ url("img/bg.gif") repeat-x bottom;
  /* font-size:93%; */
	font-size: 85%;
  /* line-height:normal; */
}
#evologo
{
	padding-left: 1em;
	vertical-align: middle;
	border: 0;
}
#headfunctions
{
	float: right;
	text-align:right;
	margin: 1ex;
	color: #b0b0b0;
}
#header ul 
{
  margin:0;
  padding: 0.1ex 1em 0;
  list-style: none;
}
#header li 
{
  float:left;
  background:url("img/left.gif") no-repeat left top;
  margin:0;
  padding:0 0 0 9px;
}
#header li a 
{
  float:left;
  display:block;
  background: url("img/right.gif") no-repeat right top;
  padding:4px 11px 3px 2px;
  text-decoration:none;
  /* font-weight:bold; */
  color:#765;
  }
/* Commented Backslash Hack
   hides rule from IE5-Mac \*/
#header li a {float:none;}
/* End IE5-Mac hack */
#header li a:hover 
{
	text-decoration: underline;
}
#header li.current 
{
  background-image:url("img/left_on.gif");
}
#header li.current a 
{
  background-image:url("img/right_on.gif");
  color:#333;
  padding-bottom:4px;
}

div.menutoptitle 
{
	margin: 1ex 2ex 0;
	font-family: Arial, Verdana, Geneva, Arial, Helvetica;
	color: #BBCCDD;
	font-size: 14px;
}

.menutopbloglist
{
	font-family: Arial, Verdana, Geneva, Arial, Helvetica;
	color: #FF0000;
	font-size: 14px;
}

