/* Designed by François PLANQUE http://fplanque.net/ */

div.main {
	margin-right: 0px;
	margin-left: 0px;
}

.bPostdraft {
	clear: both;
	padding: 2ex;
	margin: 3ex;
	margin-right: 0ex;
	border: 1px dashed #CCCCCC;
	background-color: #EEEEEE;
}

.bTitle {
	margin-top: 8px;
	margin-bottom: 8px;
}
.bText {
	margin-top: 0px;
	margin-bottom: 0px;
}
.bSmallPrint {
	clear: both;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 80%;
	margin-top: 8px;
	margin-bottom: 8px;
}
.bComment {
	margin-right: 20px;
	margin-left: 20px;
	margin-top: 8px;
	margin-bottom: 8px;
	border: 1px solid #8ae;
	padding-right: 8px;
	padding-left: 8px;
}
.bCommentTitle {
	margin-top: 8px;
	margin-bottom: 8px;
	font-weight: bold;
}
.bCommentText {
	margin-top: 0px;
	margin-bottom: 0px;
}
.bSmallHead {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 80%;
	margin-top: 8px;
	margin-bottom: 8px;
	color: #8ae;
}
.bSideItem h3 {
	margin-top: 0px;
	margin-bottom: 8px;
}
.bSideItem ul {
	margin-left: 8px;
	padding-left: 8px;
	margin-top: .5ex;
	margin-bottom: .5ex;
}
.bMore
{
	text-align: center;
}
.bMore a
{
	font-weight: bold;
	font-size: 110%;
}
div.statbloc
{
	float: left;
	width: 44%;
	margin-left: 2%; 
	margin-right: 0%; 
	margin-bottom: 2ex;
	border: 1px solid #33BBBB;
}

div.statbloc h3
{
	margin-top: 0px;
	margin-left: 0px;
	margin-right: 0px;
	color: #FFFFFF;
	text-align: center;
	background: #33BBBB;
	padding: 1ex;
}

/* Styles for comment form */
form.bComment fieldset
{
	clear: both;
	border: none;
	margin: 2ex 0ex;
	padding: 0ex;
	/* border: 1px solid #f00; */
}
div.label
{
	float: left;
	width: 18%;
	text-align: right;
	font-weight: bold;
	position: relative;
	top: .5ex;
	/* border: 1px solid #00f; */
}
form.bComment label
{
	font-weight: bold;
}
div.input
{
	float: right;
	width: 80%;
	/* border: 1px solid #00f; */
}
input.bComment, 
textarea.bComment
{
	background-color: #f0f0f0;
	border-width: 1px;
	border-color: #cccccc;
	border-style: solid;
	padding: .5ex;
	width: 98%;
	margin: 0ex;
}
fieldset .notes
{
	/* display: block; */
	font-size: 80%;
	color: #999999;
}


.field
{
	background-color: #f0f0f0;
	border-width: 1px;
	border-color: #cccccc;
	border-style: solid;
	padding: .5ex;
}
input.SearchField
{
	background-color: #f0f0f0;
	border-width: 1px;
	border-color: #cccccc;
	border-style: solid;
	padding: .5ex;
	width: 96%;
	margin: 0ex;
}


/* Calendar: */
caption.bCalendarMonth
{
	border-left: solid 1px #ccc;
	border-right: solid 1px #ccc;
	border-top: solid 1px #ccc;
}
table.bCalendarTable
{
	margin: auto;
	font-size: 84%;
	border: solid 1px #ccc;
}
tr.bCalendarRow
{
	text-align: center;
}
th.bCalendarHeaderCell
{
	font-size: 84%;
}
td.bCalendarCell
{
}
td.bCalendarEmptyCell
{
}
a.bCalendarLinkPost
{
	font-weight: bold;
}




.FigZone {
	text-align: center;
	margin: 8px;
}

.FigCent240 {
	width: 240px;
	color: #FFFFFF;
	background-color: #000000;
	padding: 12px;
	margin: 0ex auto;
	border: 1px solid #FFFFFF;
	text-align: center;
}
.FigCent320 {
	width: 320px;
	color: #FFFFFF;
	background-color: #000000;
	padding: 12px;
	margin: 0ex auto;
	border: 1px solid #FFFFFF;
	text-align: center;
}
.FigZone img{
	border: none;
	margin-bottom: 8px;
}
.FigZone a{
	color: #FFFFFF;
	text-decoration: none;
}
.FigZone a:link{
	color: #FFFFFF;
}
.FigZone a:visited{
	color: #FFFFFF;
}
.FigZone a:active{
	color: #FFFFFF;
}

.bSideItem fieldset
{
	border: 1px solid #ddd;
	margin: 1ex 0ex;
	padding: 1ex;
}

.bSideItem fieldset div
{
	margin: 1ex 0ex;
}
fieldset.extracats
{
	border: 1px solid #ccc;
	padding: 0ex;
	overflow: visible;
}
div.extracats
{
	height: 50ex;
	overflow: auto;
	padding: 0ex 1ex;
	margin: 0ex;
}

/* Calendar: */
caption.bCalendarMonth
{
	border-left: solid 1px #ccc;
	border-right: solid 1px #ccc;
	border-top: solid 1px #ccc;
	font-weight: bold;
	margin: auto;
}
table.bCalendarTable
{
	margin: auto;
	font-size: 77%;
	border: solid 1px #ccc;
}
tr.bCalendarRow
{
	text-align: center;
}
th.bCalendarHeaderCell
{
	font-size: 84%;
}
td.bCalendarCell
{
}
td.bCalendarEmptyCell
{
}
a.bCalendarLinkPost
{
	font-weight: bold;
}