/* Overrides for the sidebar */

.bPosts,
.bSideBar
 {
	vertical-align: top;
	float: none;
	width: 100%;
	clear: none;
	overflow: visible;
	/* border:  1px solid #f00; */
	margin: 0ex;
	padding: 0ex;
}
.bPost,
.bSideItem2
{
	border: none;
	padding: 0ex;
	margin: 1ex;
}
.bSideItem2 fieldset
{
}
div.extracats
{
	height: auto;
	overflow: visible;
	padding: 0ex 1ex;
	margin: 0ex;
}
.notes
{
	display: none;
}
span.line
{
	white-space: normal;
	display: block;
	
}
span.line input
{
	width: 95%;
}
input.large, 
textarea.large,
div.large
{
	width: 95%;
	margin: 0ex;
}
div.panelinfo{
	width: 80%;
}
