/**
 * Global / basic CSS styles for the admin.
 *
 * This should be included with every skin and overridden when needed.
 */


/*
 * Categories selection table:
 */
table.catselect {
	border-spacing:0;
	width:90%;
	border: 1px solid #bbb;
}
table.catselect th {
	padding: .3ex 1ex;
	background-color: #ddd;
	border-bottom: 1px solid #bbb;
}
table.catselect td {
	padding: .2ex 1ex;
	background-color: #eee;
}
table.catselect input {
	background-color: #eee;
}
table.catselect th.selector,
table.catselect td.selector {
	width: 1%;
	text-align:center;
	border-right: 1px solid #bbb;
}
table.catselect tr:hover td,
table.catselect tr.even:hover td {
	background-color:#ccc;
}
table.catselect tr.even td,
table.catselect tr.even input {
	background-color:#ddd;
}


/*
 * Special list formattings
 */
ul.clicktree {
	margin:0;
	padding:0;
	list-style:none;
}
ul.clicktree ul.clicktree {
	margin-left:2ex;
}

ul.plain {
	list-style:none;
	margin:0;
	padding:0;
}


.action_icon {
	margin: 0 2px;
	font-weight: bold;
}

th .action_icon {
	font-size: 84%;
}

/*
 * Icon legend
 */
#icon_legend {
	border: 1px solid #666;
	background-color: #ddd;
	margin : 1em;
	padding: 5px;
}
span.legend_element {
	white-space: nowrap;
}


/*
 * Cron statuses
 */
.cron_started {
	font-weight: bold;
}
.cron_finished {
	color: #009900;
}
.cron_error,
.cron_timeout {
	font-weight: bold;
	color: #FF0000;
}


/*
 * Grouping of plugins:
 */
table.grouped tr.PluginsGroup,
table.grouped tr.PluginsSubGroup {
	text-align:left;
}

table.grouped tr.PluginsGroup th,
table.grouped tr.PluginsSubGroup th {
	border-left:none;
}

table.grouped tr.PluginsSeperator th {
	height:7px;
	background-color: #f5f3ef;
	border-top: 1px solid #9e9286;
}

table.grouped tr.PluginsGroup th,
table.grouped tr.PluginsSubGroup th {
	border-bottom: 1px solid #9e9286;
	border-top: 1px solid #9e9286;
}

table.grouped tr.PluginsSubGroup th {
	background-color: #efede0;
	color:#666666;
}

table.grouped tr.PluginsSubGroup th,
table.grouped tr.PluginsSubGroup td.firstcol {
	padding-left:15px;
}

/* / Grouping of plugins */


/*
 * Skin selection:
 */
div.skinshot {
	float: left;
	background-color: #ccc;
	margin: 1ex;
	padding: 0;
}

div.skinshot_placeholder {
	width: 240px;
	height: 180px;
	border: 1px solid #000;
	margin: 1ex 1ex .5ex 1ex;
	background: #ddd;
	text-align: center;
}
div.skinshot div.current {
	border: 1px solid #f00;
}

div.skinshot_noshot {
	margin: 36px 0 0 0;
	color: #999;
}
div.skinshot_name {
	margin: 24px 0 0 0;
	font-size: 170%;
}

div.skinshot div.legend {
	width: 240px;
	margin: .5ex 1ex 1ex 1ex;
	padding: 0;
}

div.skinshot div.actions {
	float: right;
	margin: 0;
	padding: 0;
}


.timestamp {
	white-space: nowrap;
}
.timestamp .time {
	font-size:84%;
}

div.tile {
	display: inline;
	white-space: nowrap;
}



div.system_check {
	margin: 1ex 0;
	border-top: 1px solid #ddd;
	padding-top: 1ex;
}

div.system_check_name {
	font-weight: bold;
	float:left;
}

div.system_check_value_ok,
div.system_check_value_warning,
div.system_check_value_error {
	font-weight: bold;
	margin-left: 50ex;
}

div.system_check_value_ok {
	color: #093;
}
div.system_check_value_warning {
	color: #e60;
}
div.system_check_value_error {
	color: #c00;
}

div.system_check_message_ok,
div.system_check_message_warning,
div.system_check_message_error {
	margin: 1ex;
}
div.system_check_message_warning {
	padding: 3px;
	background: #feb;
}
div.system_check_message_error {
	padding: 3px;
	background: #fbb;
}
