/* Basic styles */

body {
	padding: 0;
	margin: 0;
}


blockquote {
	border: 2px dotted #ccc;
	background-color: #eee;
	margin: 1em 2em;
	padding: 0 1ex;
}

acronym,
abbr {
	border-bottom: 1px dotted #000;
	cursor: help;
}

del {
	color: #999999;
}
ins {
	color: #009999;
	text-decoration: none;
}
code {
	font-size: 107%;
}


.nobr,
.nowrap,
.line {
	white-space: nowrap;
}
.left {
	text-align: left;
}
.center {
	text-align: center;
}
.right {
	text-align: right;
}
.top {
	vertical-align: top;
}
.floatleft {
	float: left;
}
.floatright {
	float: right;
}
.clear{
	clear: both;
}
.small {
	font-size: 84%;
}
.small_details {
	font-size: 84%;
	color: #555;
}
.note,
.notes,
.dimmed {
	font-size: 84%;
	color: #999;
	font-weight:normal;
}
.shrinkwrap {
	width: 1%;
	white-space:nowrap;
	text-align:center;
}

.filename {
	font-family:monospace;
	font-size:larger;
}

.block {
	margin: 1ex;
	white-space: nowrap;
}

a.discrete {
	text-decoration: none;
}

/*
 * Evo Toolbar
 */
div#evo_toolbar {
	background-color: ThreeDFace;
	font: menu;
	color: ButtonText;
	border-top: 1px solid ThreeDHighlight;
	border-bottom: 1px solid ThreeDShadow;
}
div#evo_toolbar a {
	border: 1px solid ThreeDFace;
	color: ButtonText;
	text-decoration: none;
	padding: 2px 1ex;
}
div#evo_toolbar a:hover {
	border-top-color: ThreeDHighlight;
	border-left-color: ThreeDHighlight;
	border-bottom-color: ThreeDShadow;
	border-right-color: ThreeDShadow;
}
div#evo_toolbar .actions_left {
	padding: 4px;
}
div#evo_toolbar .actions_right {
	padding: 4px;
	float: right;
}

div#evo_toolbar ul {
  padding: 0;
  margin: 0;
  list-style: none;
}
div#evo_toolbar li {
  display: inline;
}
div#evo_toolbar li ul {
  position: absolute;
	background-color: ThreeDFace;
	border: 1px solid;
	border-top-color: ThreeDHighlight;
	border-left-color: ThreeDHighlight;
	border-bottom-color: ThreeDShadow;
	border-right-color: ThreeDShadow;
	padding: 0 4ex 0 0;
}
div#evo_toolbar li.menu_open ul {
	display: block;
}
div#evo_toolbar li.menu_close ul {
	display: none;
}
div#evo_toolbar li.menu_open:hover ul,
div#evo_toolbar li.menu_close:hover ul {
	display: block;
}
div#evo_toolbar li ul li {
	display: block;
}
div#evo_toolbar li ul li a {
	display: block;
	padding: 4px 2ex;
	border: none;
	width: 100%;
}
div#evo_toolbar li ul li a:hover {
	background-color: Highlight;
	color: HighlightText;
}

	
/*
{{{ Messages
*/
div.log_container,
div.action_messages {
	margin:1ex;
}
div.log_container ul,
div.action_messages ul,
div.log_container ol,
div.action_messages ol {
	list-style: square;
	list-style-image:none;
	margin:1ex 0;
	padding-left:3ex;
}
div.log_container div,
div.action_messages div {
	border:1px solid #6287c2;
	background:#ddd;
	margin:1ex auto;
	padding:1ex;
}
div.log_container div.log_success,
div.action_messages div.log_success,
div.success {
	border:1px solid #9d9;
	background:#f2fbee;
	color:#0c0;
}
div.log_container div.log_error,
div.action_messages div.log_error,
div.error {
	border:1px solid #d99;
	background:#fbf2ee;
	color:#e00;
}

p.error,
span.error {
	color: #e00;
	font-weight:bold;
}
p.error {
	margin: 1ex;
}
/* }}} */

/*
 * Debug output formatting:
 */
div.debug {
	border: 2px solid #000;
	padding: 1ex;
	background-color: #ccc;
	text-align: left;
	color: #000;
}

div.debug h2,
div.debug h3,
div.debug h4 {
	color:#0033FF;
}

div.debug code {
	font-family: "Courier New", Courier, monospace;
	font-size: 11px;
	margin:1ex;
	display:block;
}

div.debug div.query_info {
	background-color: #fff;
	font-size: 12px;
	margin:1ex;
}

div.debug table {
	border: 1px solid #000;
	border-collapse:collapse;
	font-family: "Courier New", Courier, monospace;
	margin: 1ex;
}
div.debug table,
div.debug th,
div.debug td {
	font-size:11px;
}
div.debug th {
	background-color: #fff;
	border: 1px solid #000;
	padding: 2px;
	white-space:nowrap;
}
div.debug th span.type {
	font-weight: normal;
	color: #999;
}
div.debug td {
	background-color: #ddd;
	border: 1px solid #000;
	padding: 2px;
	vertical-align:top;
	white-space:nowrap;
}
div.debug td.odd {
	background-color: #eee;
}
