/**
 * These are the generic styles that are common to "all" skins.
 *
 * This is for the blog NAVIGATION and global page layout. See item_base.css for the post CONTENT styles.
 *
 * Override this with style.css in your skin folder.
 */

table.prevnext_post {
	width: 95%;
	margin: 0 auto;
}
table.prevnext_post a {
	text-decoration: none;
}

div.featured_post {
	border: 1px solid #ccc;
	padding: 14px;
	margin: 1ex 0;
}
div.featured_post h2 {
	margin-top: 6px;
}

a.permalink_right
{
	float: right;
	margin: 0 0 0 1em;
}

p.baseline a.contact_link,
a.contact_link {
	text-decoration: underline;
}

/* Calendar: */
table.bCalendarTable caption {
	font-size: 105%;
	font-weight: bold;
	margin: auto;
	padding: 3px 0;
	white-space: nowrap;
}
table.bCalendarTable {
	margin: 0 auto 1em auto;
	font-size: 77%;
	border-collapse: separate;
	border-spacing: 0px;
}
tr.bCalendarRow {
	text-align: center;
}
th.bCalendarHeaderCell {
	color: #999;
	font-size: 84%;
	width: 4ex;
}
td.bCalendarCell,
td.bCalendarLinkPost,
td.bCalendarEmptyCell {
	width: 4ex;
	padding: 2px 0;
}
.bCalendarLinkPost {
	font-weight: bold;
}
#bCalendarToday {
	background-color: #f6eeee;
	border: 1px solid #900;
}

/* TODO: not very unique IDs! (prev/next) - used in Calendar at least*/
td#prev,
td#next {
	font-weight: bold;
	font-size: 105%;
	padding: .5ex;
	white-space: nowrap;
}
td#prev a,
td#next a {
	padding: .5ex;
}
td#prev {
	text-align:left;
}
td#next {
	text-align:right;
}


div.powered_by {
	margin: 16px 0;
	text-align: center;
}
div.error_404,
div.error_additional_content {
	margin: 1em;
}


/* Styles for comments */
div.bComment, /* Entire comment block */
form.bComment /* New comment form */
{
	margin: 1ex 2ex;
	padding: 0 1ex;
	border: 1px dotted #999;
}
#comment_preview {
	background-color: #eee;
}
div.bCommentTitle {
	margin: 1ex 0;
	font-weight: bold;
}
div.bCommentSmallPrint {
	clear: both;
	font-size: 78%;
	margin: 1ex 0;
}
.bCommentAvatar {
	margin: 5px 10px 10px 0;
	padding: 2px;
	float:left;
	border:1px solid #ccc;
}

div.moderation_msg
{
	margin: 1ex 2ex;
	padding: 0 1ex;
	border: 1px dotted #fa9;
	color: #e70;
}

div.feedback_feed_msg {
	margin: 2em 2ex;
	text-align: right;
}


/* 18/80% forms: comments and profile */
form.bComment fieldset
{	/* one form line */
	border: none;
	margin: 2ex 0ex;
	padding: 0ex;
	/* border: 1px solid #00f; */
}
form.bComment fieldset label {
	font-weight: bold;
}
form.bComment fieldset div.label
{ /* label of form line */
	float: left;
	width: 18%;
	text-align: right;
	padding-top: .5ex;
	font-weight: bold;
	/* border: 1px solid #f00; */
}
form.bComment fieldset div.input
{ /* input zone of form line */
	margin: 0 0 0 20%;
	/* border: 1px solid #f00; */
}
form.bComment fieldset.input{
	margin: 0;
	/* border: 1px solid #0f0; */
}
form.bComment fieldset div.info
{ /* info zone of form line */
	margin: 0 0 0 20%;
	padding-top: .5ex;
	/* border: 1px solid #f00;*/
}

/* Avatar widget */
div.widget_core_coll_avatar {
	margin: 1em auto;
	text-align:center;
}

/* Search widget */
div.compact_search_form input.search_field {
	width: 120px;
	margin-right: 3px;
}
div.compact_search_form input.search_submit {
	width: 69px;
}
div.container_menu_top div.widget_core_coll_search_form {
	float: right;
}
div.container_menu_top input.search_field {
	width: 160px;	/* There is typically more space here */
}