/**
 * These are the generic styles that are common to "all" skins.
 *
 * This is for the blog NAVIGATION and global page layout. See item_base.css for the post CONTENT styles.
 *
 * Override this with style.css in your skin folder.
 */

table.prevnext_post {
	width: 95%;
	margin: 0 auto;
}
table.prevnext_post a {
	text-decoration: none;
}

div.featured_post {
	border: 1px solid #ccc;
	padding: 14px;
	margin: 1ex 0;
}
div.featured_post h2 {
	margin-top: 6px;
}

a.permalink_right
{
	float: right;
	margin: 0 0 0 1em;
}

p.baseline a.contact_link,
a.contact_link {
	text-decoration: underline;
}

/* Calendar: */
table.bCalendarTable caption {
	font-size: 105%;
	font-weight: bold;
	margin: auto;
	padding: 3px 0;
	white-space: nowrap;
}
table.bCalendarTable {
	margin: 0 auto 1em auto;
	font-size: 77%;
	border-collapse: separate;
	border-spacing: 0px;
}
tr.bCalendarRow {
	text-align: center;
}
th.bCalendarHeaderCell {
	color: #999;
	font-size: 84%;
	width: 4ex;
}
td.bCalendarCell,
td.bCalendarLinkPost,
td.bCalendarEmptyCell {
	width: 4ex;
	padding: 2px 0;
}
.bCalendarLinkPost {
	font-weight: bold;
}
#bCalendarToday {
	background-color: #f6eeee;
	border: 1px solid #900;
}

/* TODO: not very unique IDs! (prev/next) - used in Calendar at least*/
td#prev,
td#next {
	font-weight: bold;
	font-size: 105%;
	padding: .5ex;
	white-space: nowrap;
}
td#prev a,
td#next a {
	padding: .5ex;
}
td#prev {
	text-align:left;
}
td#next {
	text-align:right;
}


div.powered_by {
	margin: 16px 0;
	text-align: center;
}
div.error_404,
div.error_additional_content {
	margin: 1em;
}


/* Styles for comments */
div.bComment, /* Entire comment block */
form.bComment /* New comment form */
{
	margin: 1ex 2ex;
	padding: 0 1em 1em;
	border: 1px dotted #999;
}
#comment_preview {
	background-color: #eee;
}
div.bCommentTitle {
	margin: 1ex 0;
	font-weight: bold;
}
div.bCommentSmallPrint {
	clear: both;
	font-size: 78%;
	margin: 1ex 0;
}
.bCommentAvatar {
	margin: 5px 10px 10px 0;
	padding: 2px;
	float:left;
	border:1px solid #ccc;
}

div.moderation_msg
{
	margin: 1ex 2ex;
	padding: 0 1ex;
	border: 1px dotted #fa9;
	color: #e70;
}

div.feedback_feed_msg {
	margin: 2em 2ex;
	text-align: right;
}


/* 18/80% forms: comments and profile */
form.bComment fieldset
{	/* one form line */
	border: none;
	margin: 1em 0 0 0;
	padding: 0ex;
	/* border: 1px solid #00f; */
}
form.bComment fieldset label {
	font-weight: bold;
}
form.bComment fieldset div.label
{ /* label of form line */
	float: left;
	width: 100px;
	text-align: right;
	font-weight: bold;
	/* border: 1px solid #f00; */
}
form.bComment fieldset div.input
{ /* input zone of form line */
	margin: 0 0 0 108px;
	/* border: 1px solid #f00; */
}
form.bComment fieldset.input{
	margin: 0;
	/* border: 1px solid #0f0; */
}
form.bComment fieldset div.info
{ /* info zone of form line */
	margin: 0 0 0 108px;
	/* border: 1px solid #f00; */
}
form.bComment fieldset div.label select {
	width: 94%;
}

/* bComment Avatar */
form.bComment fieldset div.avatartag
{
	float: left;
	margin: 0 0.5em 0.5em 0;
	padding: 0;
}

.comment_disabled_msg {
	text-align: center;
	color: #e00;
}

.form_footer_notes {
  margin: 2em auto 1em;
  text-align: center;
  color: #999;
  font-size: 78%;
}


/* Avatar widget */
div.widget_core_coll_avatar {
	margin-top: 1em;
	margin-bottom: 1em;
	text-align:center;
}

/* Search widget */
div.compact_search_form input.search_field {
	width: 120px;
	margin-right: 3px;
}
div.compact_search_form input.search_submit {
	width: 69px;
}
div.container_menu_top div.widget_core_coll_search_form {
	float: right;
}
div.container_menu_top input.search_field {
	width: 160px;	/* There is typically more space here */
}

/* tabs */
div.tabs {
	line-height:normal;
	position: relative;
	top: 2px;
	margin: 0 14px 36px; /* pjsnet */
	list-style: none;
}

div.tabs div.option,
div.tabs div.selected {
	padding: 0 0 0 6px;
	margin: 5px;
	float: left;
}

div.tabs div.selected {
	font-weight:bold;
}

div.tabs div.option a:hover {
	text-decoration: underline;
}

.action_icon
{
	margin: 0 2px;
	font-weight: bold;
	vertical-align: top;
}

/* Ajax form */
div.section_requires_javascript p.ajax-loader {
	text-align: center;
	margin-top: 1em;
}

/* Results */
div.results {
	margin: 0;
	width: 100%;
	overflow: auto;
}

/* Rating Summary */
table.rating_summary{
	float: left;
}
table.rating_summary th, table.rating_summary td{
	font-size: 10px;
	line-height: 13px;
	font-weight: normal;
	padding: 0;
}
table.rating_summary th{
	padding-right: 5px;
}
table.rating_summary .progress{
	width: 60px;
	background: #eeeecc;
	padding: 0;
}
table.rating_summary .progress div{
	background: #ffcc66;
}
table.rating_summary td{
	text-align: right;
	padding-left: 5px;
}
div.rating_summary_total{
	float: left;
	padding: 5px 0 0 20px;
}
div.average_rating{
	padding-top: 5px;
}
div.average_rating span{
	float: left;
	font-size: 11px;
	line-height: 12px;
	padding-left: 10px;
}
div.star_rating, div.star_rating div{
	width: 60px;
	height: 12px;
	background: url(../icons/icons_sprite.png) repeat-x -64px -176px;
	overflow: hidden;
	text-indent: 100px;
}
div.star_rating div{
	background-position: 0 -176px;
}
div.average_rating .star_rating{
	float: left;
}
.rating_recap{
	clear: both;
	font-size: 10px;
}
.rating_recap div{
	float: left;
	padding-right: 10px;
}

/* Styles for in-skin editing */
form.inskin{
	padding: 10px;
}
form.inskin fieldset{
	border: none;
	padding: 0;
	margin: 0;
}
form.inskin .edit_fieldgroup .label{
	display: none;
}
form.inskin .edit_area textarea{
	width: 99%;
}


/*
 * Categories selection table:
 */
.extracats legend{
	color: #000;
	padding: 10px 0 5px;
}
table.catselect {
	border-spacing:0;
	width:100%;
	border: 1px solid #bbb;
}
table.catselect th {
	padding: .3ex 1ex;
	background-color: #ddd;
	border-bottom: 1px solid #bbb;
}
table.catselect td {
	padding: .2ex 1ex;
}
table.catselect tr.group td {
	border-top: 1px solid #bbb;
	border-bottom: 1px solid #bbb;
	background-color: #ccc;
	font-weight: bold;
}
table.catselect tr.odd,
table.catselect tr.odd input {
	background-color: #eee;
}
table.catselect tr.even,
table.catselect tr.even input {
	background-color:#ddd;
}
table.catselect tr:hover,
table.catselect tr:hover input {
	background-color:#ccc;
}
table.catselect th.selector,
table.catselect td.selector {
	width: 1%;
	text-align:center;
	border-right: 1px solid #bbb;
}
table.catselect #new_category_name {
	background-color:white;
}