/**
 * Image styles
 */

img {
	border:none;
}

img.top {
	vertical-align:top;
}

img.middle {
	vertical-align:middle;
}

img.leftmargin {
	float:left;
	margin-right:1ex;
	margin-top:.2ex;
	margin-bottom:.2ex;
}

img.rightmargin {
	float:right;
	margin-left:1ex;
	margin-top:.2ex;
	margin-bottom:.2ex;
}

img.flag {
	vertical-align:middle;
	border:1px solid #000;
}
