#quickupload {
	margin-left: 4px;
}

#progress {
    width: 200px;
    border: 1px solid #BBB;
    background-color: #FFF;
    padding: 0;
    float: left;
}

#progress #bar {
    display: block;
    width: 0px;
    height: 12px;
    background-image: url(../img/bar_selected24.png);
    background-position: center;
}

#upload_separator {
	clear: left;
}

#uploadblock {
	border: 1px solid;
	border-color: #9DB0BC;
	margin: 4px;
}

#result_success {
	color: #0c0;
	margin-left: 10px;
}

.result_error {
	color: #e00;
}