/*
	ColorBox Core Style:
	The following CSS is consistent between example themes and should not be altered.
*/
#colorbox, #cboxOverlay, #cboxWrapper{position:absolute; top:0; left:0; z-index:9999; overflow:hidden;}
#cboxOverlay{position:fixed; width:100%; height:100%;}
#cboxMiddleLeft, #cboxBottomLeft{clear:left;}
#cboxContent{position:relative;}
#cboxLoadedContent{overflow:auto;}
#cboxTitle{margin:0;}
#cboxLoadingOverlay, #cboxLoadingGraphic{position:absolute; top:0; left:0; width:100%;}
#cboxPrevious, #cboxNext, #cboxClose, #cboxSlideshow{cursor:pointer;}
.cboxPhoto{float:left; margin:auto; border:0; display:block;cursor: pointer;}
.cboxPhoto.zoomin{cursor: cell; cursor: -webkit-zoom-in; cursor: -moz-zoom-in;}
.cboxPhoto.zoomout{cursor: cell; cursor: -webkit-zoom-out; cursor: -moz-zoom-out;}
.cboxIframe{width:100%; height:100%; display:block; border:0;}

/*
	User Style:
	Change the following styles to modify the appearance of ColorBox.  They are
	ordered & tabbed in a way that represents the nesting of the generated HTML.
*/
#cboxOverlay{background: rgba( 25, 25, 25, 0.85);}
#colorbox{font: 11px Verdana,Arial,Sans-Serif;}
	#cboxContent{
		border: 7px solid #fff;
		background:#fff;
		overflow:hidden;
		-moz-border-radius: 2px;
		-webkit-border-radius: 2px;
		-khtml-border-radius: 2px;
		border-radius: 2px;
		}
		#cboxError{padding:50px; border:1px solid #ccc;}
		#cboxLoadedContent{margin-bottom:28px;}
		#cboxTitle{position:absolute; bottom:4px; left:0; text-align:center; width:100%; height:15px; color:#949494; white-space:nowrap; overflow:hidden; text-overflow:ellipsis;}
		#cboxCurrent{position:absolute; bottom:4px; left:58px; color:#949494; line-height: 17px;}
		#cboxSlideshow{position:absolute; bottom:4px; right:30px; color:#0092ef; line-height: 17px;}
		#cboxPrevious{position:absolute; bottom:0; left:0; background:url(../../icons/icons_sprite.png) no-repeat -48px -272px; width:23px; height:23px; text-indent:-9999px;}
		#cboxPrevious.hover{background-position:-48px -296px;}
		#cboxNext{position:absolute; bottom:0; left:27px; background:url(../../icons/icons_sprite.png) no-repeat -72px -272px; width:23px; height:23px; text-indent:-9999px;}
		#cboxNext.hover{background-position:-72px -296px;}
		#cboxLoadingOverlay{background:#FFF;}
		#cboxLoadingGraphic{background:url(../../img/ajax-loader2.gif) no-repeat center center;}
		#cboxClose{position:absolute; bottom:0; right:0; background:url(../../icons/icons_sprite.png) no-repeat -24px -272px; width:23px; height:23px; text-indent:-9999px;}
		#cboxClose.hover{background-position:-24px -296px;}
		#cboxVoting{position:absolute; bottom:25px; min-height:15px; width:100%; padding:5px 0; text-align:center; white-space:nowrap; -moz-border-radius:6px; -webkit-border-radius:6px; -khtml-border-radius:6px; border-radius:6px;}
		#cboxVoting{bottom:22px \0;}/* IE9 */
		#cboxVoting a{margin:0 10px 0 0; vertical-align:middle; display: inline-block;}
		#cboxVoting a span{margin:0; vertical-align:middle;}
		#cboxVoting span.icon{vertical-align:middle;}
		#cboxVoting span{margin:0 10px 0 0; display: inline-block;}
		#cboxVoting span.separator{border-right: 1px solid #000; margin-right:14px; vertical-align: middle;}
		#cboxVoting span.vote_title{position: relative; top: 1px;}
		@-moz-document url-prefix() { #cboxVoting span.vote_title{top:0} }
		#cboxVoting label input{vertical-align:middle; margin-right:2px;}
		#cboxVoting label span{vertical-align:middle; position: relative; top: -1px;}
		#cboxOpen{position:absolute; bottom:4px; left: 0; right: 0; margin: auto; width: 135px; line-height: 17px;}
		#cboxOpen a{color:#0092EF;}