/* Designed by François PLANQUE - http://fplanque.net/ */

@import url(../../rsc/css/basic.css);	/* Import basic styles */
@import url(../../rsc/css/img.css);	/* Import standard image styles */
@import url(../../rsc/css/blog_elements.css);	/* Import standard blog elements styles */
@import url(../../rsc/css/forms.css);	/* Import default form styles */
@import url(../../rsc/css/comments.css);	/* Import default comment styles */

body {
	padding: 0px;
	margin: 0px;
	color: #aaa;
	font: 84% Arial, Helvetica, sans-serif;
	background-color: #666;
}

a {
	color: #eee;
	text-decoration: none;
}
a:visited {
	color: #eee;
}
a:hover {
	color: #fff;
	text-decoration: underline;
}


div#pageFooter {
	padding: 0 0 1ex 0;
}
p.baseline {
	text-align: center;
	font-size: 84%;
	padding: 1ex;
	margin: 0;
}


div.pageHeader {
	padding: 5px;
	border-bottom: 1px solid #aaa;
	background: #333;
	color: #aaa;
}

h1#pageTitle {
	font-size: 100%;
	font-weight: bold;
	letter-spacing: 2px;
	margin: 0;
	padding: 0;
}

ul#bloglist {
	background: #333;
	border-bottom: 1px solid #aaa;
	margin: 0 1px;
	padding: 0;
	list-style-type:none;
	padding: 5px 0;
}
ul#bloglist li {
	border-right: 1px solid #aaa;
	display: inline;
	padding: 5px 1em;
}

a.BlogButton,
a.BlogButtonCurr {
	font-weight: bold;
	text-decoration: none;
}
a.BlogButton {
	color: #aaa;
}
a.BlogButtonCurr,
a.BlogButtonCurr:visited {
	color: #eee;
}
a.BlogButton:hover,
a.BlogButtonCurr:hover {
	text-decoration: underline;
	color: #fff;
}


/* Styles for main area (left) */
h2 {
	margin: 0;
	padding: 1ex 0 0 0;
}

/* Styles for posts */
.bPosts {
	width: 700px;
	margin: 0 auto;
}
div.action_messages {
	margin: 0 2ex;
}
.nav_right
{
	padding: 1em;
	float: right;
}
.bPost
{
	clear: both;
}
.image_block img {
	background: #fff;
	padding: 5px;
	border: 1px solid #555;
}
.bDetails {
	margin: 2em 0;
	background: #555;
	border: 1px solid #aaa;
	width: 100%;
}
h3.bTitle {
	font-size: 100%;
	display:inline;
	letter-spacing: 2px;
}
.bText {
	margin-top: 0px;
	margin-bottom: 0px;
}
.bSmallHead
{
	padding: 2ex;
}
.bSmallPrint
{
	font-size: 84%;
	padding: 2ex;
}
.action_right
{
	font-size: 84%;
	float: right;
	margin: 0 0 0 1em;
}
.timestamp {
	margin: 0 0 0 1em;
	font-size: 84%;
}

input.bComment,
textarea.bComment
{
	background-color: #eee;
	border: 1px solid #ccc;
	width: 97%;
	padding: 2px;
	margin: 0ex;
}
select.bComment  /* Used by the profile form */
{
	background-color: #eee;
	border: 1px solid #ccc;
	padding: 1px;
	margin: 0ex;
}


